:host {
  display: flex;
  flex-direction: column;
  overflow-y: auto !important;
  overflow-x: hidden;
}

.rx-card {
  flex-shrink: 0;
  > rx-content-input {
    display: block;
  }
}

rx-graph {
  height: 150px;
}
