<ng-container *ngIf="target">

  <div class="rx-card rx-title-card">
    <div class="rx-card-header rx-header-1">
      <span>{{titleLabel}}:</span>
      <rx-editable (update)="markModified()">
        <span rxViewMode>
          {{target.value}}
        </span>
        <mat-form-field rxEditMode>
          <input rxEditFocus matInput [(ngModel)]="target.value">
        </mat-form-field>
      </rx-editable>

      <div class="rx-spacer"></div>

      <a mat-mini-fab
         color=primary
         [disabled]="_filterLinkDisabled"
         [routerLink]="_FILTER_LINK_URL"
         [queryParams]="_filterLinkParams"
         target="_blank">
        <mat-icon>arrow_right_alt</mat-icon>
      </a>

      <button mat-mini-fab color=warn (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>

  <ng-container *ngIf="target.metadata">

    <div class="rx-card">
      <div class="rx-card-header rx-header-2">
        Eigenvector Participation
      </div>
      <div class="rx-card-content">
        <rx-graph [max]="1" [values]="target.metadata.evecCoefs" [allowNegative]="true"></rx-graph>
      </div>
      <div class="rx-card-footer"></div>
    </div>

    <rx-related-content-list
      [types]="['tag', 'name']"
      [content]="[target.metadata.tags.related, target.metadata.names.related]"
      [labels]="['Related tags', 'Related names']">
    </rx-related-content-list>

    <rx-related-content-list
      [types]="['tag', 'name']"
      [content]="[target.metadata.tags.unrelated, target.metadata.names.unrelated]"
      [labels]="['Unrelated tags', 'Unrelated names']">
    </rx-related-content-list>
  </ng-container>

</ng-container>
