<ng-container *ngIf="target">

  <div class="rx-card rx-title-card">
    <div class="rx-card-header rx-header-1">
      <span>Group:</span>
      <rx-editable (update)="markModified()">
        <span rxViewMode>
          {{target.value}}
        </span>
        <mat-form-field rxEditMode>
          <input rxEditFocus matInput [(ngModel)]="target.value">
        </mat-form-field>
      </rx-editable>

      <div class="rx-spacer"></div>

      <a mat-mini-fab
         color=primary
         [disabled]="_filterLinkDisabled"
         [routerLink]="_FILTER_LINK_URL"
         [queryParams]="_filterLinkParams"
         target="_blank">
        <mat-icon>arrow_right_alt</mat-icon>
      </a>

      <button mat-mini-fab color=warn (click)="delete()">
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      Description
    </div>
    <mat-form-field appearance="outline">
      <textarea rxEditFocus matInput [(ngModel)]="target.description"></textarea>
    </mat-form-field>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        Tags
        <rx-chip *ngFor="let tag of target.tags; let i = index"
          class="tag"
          [removable]="true"
          (removed)="target.tags.splice(i, 1) && markModified()">
          {{tag.value}}
        </rx-chip>
        <rx-chip *ngIf="target.tags.length === 0" class="disabled">
          No tags
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer">
      <rx-content-input #tagInput
        type="tag"
        [allowCreate]="true"
        [placeholder]="'Add tag'"
        [multiple]="true"
        (create)="createRelated($event)"
        (selected)="addRelated($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        Names
        <rx-chip *ngFor="let name of target.names; let i = index"
          class="name"
          [removable]="true"
          (removed)="target.names.splice(i, 1) && markModified()">
          {{name.value}}
        </rx-chip>
        <rx-chip *ngIf="target.names.length === 0" class="disabled">
          No names
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer">
      <rx-content-input #nameInput
        type="name"
        [allowCreate]="true"
        [placeholder]="'Add name'"
        [multiple]="true"
        (create)="createRelated($event)"
        (selected)="addRelated($event)">
      </rx-content-input>
    </div>
  </div>

</ng-container>
