$overlay-background-color: rgba(255, 255, 255, 0.6);
$overlay-border-color: rgba(0,0,0,.12);
$mobile-font-size: 22px;
$mobile-icon-size: 28px;
$input-height: 40px;

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
}

.toggle-icon {
  cursor: pointer;
  padding-left: 6px;
}

.mobile > mat-icon {
  width: $mobile-icon-size;
  height: $mobile-icon-size;
  font-size: $mobile-icon-size;
}

.mobile {
  font-size: $mobile-font-size;
}

mat-expansion-panel-header {
  height: var(--subheader-height) !important;
}

.info-row {
  display: flex;
  align-items: center;
  min-height: $input-height;
  margin-bottom: 2px;
  margin-top: 2px;
  width: 100%;
}

.info-box-inner-container {
  display: flex;
  align-items: center;
}

.desktop-toggle-icon {
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-size: 30px;
}

rx-image {
  flex-shrink: 1;
  flex-grow: 1;
  min-height: 0;
}

.hidden-icon {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}

.readonly-label {
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 400;
}

.readonly-label,
mat-expansion-panel {
  flex-shrink: 0 !important;
}

// Overlay stylings
.info-overlay,
.nav-overlay,
.ratings-overlay
 {
  background: $overlay-background-color;
  border: 1px solid $overlay-border-color;
  border-radius: 15px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),0px 4px 5px 0px rgba(0, 0, 0, 0.14),0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 15px;
  position: absolute;
  z-index: 8;
}

.info-overlay {
  display: flex;
  align-items: center;
  top: 50px;
  right: 0;
}

.ratings-overlay {
  display: flex;
  top: 50px;
  left: 0;
}

.nav-overlay {
  cursor: pointer;
  display: flex;
  top: 50%;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.nav-overlay.left {
  left: 0;
}

.nav-overlay.right {
  right: 0;
}

rx-view-mode-selector {
  margin-left: auto;
}