<ng-container *ngIf="target">

  <div class="info-row" *ngIf="configService.mobileMode$.value">
    <rx-editable #editable [editable]="true">
      <div rxViewMode class="info-box-inner-container">

        <button rxClickIgnore class="tag" mat-raised-button disableRipple [matMenuTriggerFor]="tagMenu">
          {{target.tags.length}} tags
        </button>

        <button mat-icon-button mat-raised-button disableRipple (click)="input.type = 'tag'">
          <mat-icon>add</mat-icon>
        </button>

        <button rxClickIgnore class="name" mat-raised-button disableRipple [matMenuTriggerFor]="nameMenu">
          {{target.names.length}} names
        </button>

        <button mat-icon-button mat-raised-button disableRipple (click)="input.type = 'name'">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <rx-content-input
        #input
        rxEditMode
        (rxEditFocus)="input.open()"
        [allowCreate]="true"
        [multiple]="true"
        (create)="createRelated($event)"
        (selected)="addRelated($event)">
      </rx-content-input>
    </rx-editable>

    <rx-view-mode-selector></rx-view-mode-selector>
  </div>

  <!-- Overlays for mobile mode -->
  <ng-container *ngIf="configService.mobileMode$.value">

    <!-- Info overlay: top right overlay shows toggle buttons -->
    <div class="mobile info-overlay"
         [ngClass]="{'rx-hidden': infoOverlayHidden}">
      <div>
        {{target.id}}
      </div>
      <mat-icon class="toggle-icon" color=accent (click)="toggleFavorite()">
        {{target.favorite ? 'star' : 'star_outline'}}
      </mat-icon>
      <mat-icon class="toggle-icon" color=primary (click)="toggleProcessed()">
        {{target.processed ? 'check_box' : 'check_box_outline_blank'}}
      </mat-icon>
    </div>

    <!-- Rating overlay - top left overlay appearing on hover, allows ratings -->
    <div class="mobile ratings-overlay"
         [ngClass]="{'rx-hidden': infoOverlayHidden}">
      <mat-icon *ngFor="let r of [1,2,3,4,5]" class="toggle-icon" color=primary (click)="rateImage(r, false)">
        {{givenRating >= r ? 'star' : 'star_outline'}}
      </mat-icon>
    </div>

    <ng-container *ngIf="allowNavigation">
      <!-- Left nav paddle - left overlay allowing user to navigate backward -->
      <div class="mobile nav-overlay left"
           (click)="navigationRequest.emit({direction: 'prev'})">
        <mat-icon>arrow_left</mat-icon>
      </div>

      <!-- Right nav paddle - right overlay allowing user to navigate backward -->
      <div class="mobile nav-overlay right"
           (click)="navigationRequest.emit({direction: 'next'})">
        <mat-icon>arrow_right</mat-icon>
      </div>
    </ng-container>

  </ng-container>

  <!-- Menu overlay appearing when user clicks on tags -->
  <mat-menu #tagMenu="matMenu">
    <div *ngIf="target.tags.length === 0" mat-menu-item>
      No tags
    </div>
    <div *ngFor="let tag of target.tags; let i = index" mat-menu-item disableRipple>
      {{tag.value}}
      <mat-icon class="toggle-icon"
        (click)="target.tags.splice(i, 1) && markModified()">
        close
      </mat-icon>
    </div>
  </mat-menu>

  <!-- Menu overlay appearing when user clicks on names -->
  <mat-menu #nameMenu="matMenu">
    <div *ngIf="target.names.length === 0" mat-menu-item>
      No names
    </div>
    <div *ngFor="let name of target.names; let i = index" mat-menu-item disableRipple>
      {{name.value}}
      <mat-icon class="toggle-icon"
        (click)="target.names.splice(i, 1) && markModified()">
        close
      </mat-icon>
    </div>
  </mat-menu>

  <rx-image [target]="target" [allowFullscreen]="allowFullscreen" (contextmenu)="imageContextMenu.open($event)" [linkImage]="true"
    (imageLoaded)="imageFeatureOverlay.imageLoaded($event)">
    <rx-image-feature-overlay #imageFeatureOverlay [target]="target"></rx-image-feature-overlay>
  </rx-image>
  <mat-icon class="hidden-icon" *ngIf="target.hidden">
    visibility_off
  </mat-icon>

  <ng-container *ngIf="readonly">
    <div class="readonly-label rx-subheader">
      Image {{target.id}}
    </div>
  </ng-container>

  <mat-expansion-panel [expanded]="true" *ngIf="!readonly && !configService.mobileMode$.value">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Image {{target.id}}
      </mat-panel-title>
      <mat-panel-description>
        {{target.names.length}} names,
        {{target.tags.length}} tags,
        {{target.artistId === null ? 'No artist' : 'Artist ' + target.artistId}},
        {{target.groupId === null ? 'No group' : 'Group ' + target.groupId}},
        size: {{target.filesize | filesize}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="info-row">

      <mat-icon class="desktop-toggle-icon" color=warn (click)="toggleMarked()">
        {{target.marked ? 'push_pin' : 'radio_button_unchecked'}}
      </mat-icon>

      <mat-icon class="desktop-toggle-icon" color=accent (click)="toggleFavorite()">
        {{target.favorite ? 'star' : 'star_outline'}}
      </mat-icon>

      <mat-icon class="desktop-toggle-icon" color=primary (click)="toggleProcessed()">
        {{target.processed ? 'check_box' : 'check_box_outline_blank'}}
      </mat-icon>

      <rx-editable #editable [editable]="true">
        <div rxViewMode style="display: flex;">
          <button class="tag" mat-raised-button disableRipple (click)="input.type = 'tag'">
            Add tag
          </button>

          <button class="name" mat-raised-button disableRipple (click)="input.type = 'name'">
            Add name
          </button>

          <button class="artist" mat-raised-button disableRipple (click)="input.type = 'artist'">
            Set artist
          </button>

          <button class="group" mat-raised-button disableRipple (click)="input.type = 'group'">
            Set group
          </button>

          <button class="feature" mat-raised-button disableRipple (click)="input.type = 'feature'">
            Feature
          </button>
        </div>
        <rx-content-input #input
          rxEditMode
          (rxEditFocus)="input.open()"
          [multiple]="input.type !== 'feature'"
          [suggestion]="input.type === 'name' && nameSuggestion || null"
          [allowCreate]="true"
          (create)="createRelated($event)"
          (selected)="addRelated($event)">
        </rx-content-input>
      </rx-editable>

    </div>

    <rx-chip-list>
      <rx-chip *ngFor="let tag of target.tags; let i = index"
        class="tag"
        [removable]="true"
        (removed)="target.tags.splice(i, 1) && markModified()">
        {{tag.value}}
      </rx-chip>
      <rx-chip *ngFor="let name of target.names; let i = index"
        class="name"
        [removable]="true"
        (removed)="target.names.splice(i, 1) && markModified()">
        {{name.value}}
      </rx-chip>
      <rx-chip *ngIf="target.artistId"
        class="artist"
        [removable]="true"
        (removed)="target.artistId = null; markModified()">
        {{target.artistId | contentValue : 'artist' | async}}
      </rx-chip>
      <rx-chip *ngIf="target.groupId"
        class="group"
        [removable]="true"
        (removed)="target.groupId = null; markModified()">
        {{target.groupId}}: {{target.groupId | contentValue : 'group' | async}}
      </rx-chip>
    </rx-chip-list>
  </mat-expansion-panel>
</ng-container>

<rx-context-menu #imageContextMenu>

  <mat-menu>
    <div (click)="$event.stopPropagation(); imageContextMenu.close()">
      <div mat-menu-item disableRipple *ngFor="let action of contextMenuActions">
        <rx-action-menu-button [action]="action"></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple [matMenuTriggerFor]="rateImageRating">
        Rate image...
      </div>
    </div>
  </mat-menu>

  <mat-menu #rateImageRating="matMenu">
    <div (click)="$event.stopPropagation(); imageContextMenu.close()">
      <div mat-menu-item disableRipple *ngFor="let action of contextMenuRatingActions">
        <rx-action-menu-button [action]="action"></rx-action-menu-button>
      </div>
    </div>
  </mat-menu>

</rx-context-menu>
