<rx-context-menu #contextMenuWrapper>
  <mat-menu>
    <div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="PermadeleteSelected"></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="RestoreSelected"></rx-action-menu-button>
      </div>
    </div>
  </mat-menu>
</rx-context-menu>
