<rx-context-menu #contextMenuWrapper>
  <mat-menu>
    <div>
      <button mat-menu-item [matMenuTriggerFor]="addMetadataMenu" disableRipple>
        Add metadata...
      </button>
      <button mat-menu-item [matMenuTriggerFor]="removeMetadataMenu" disableRipple>
        Remove metadata...
      </button>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="DeleteSelected">
        </rx-action-menu-button>
      </div>
      <mat-divider></mat-divider>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="CreateNewGroup" label="Create new group from selection">
        </rx-action-menu-button>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item [matMenuTriggerFor]="markDuplicateMenu" disableRipple>
        Mark duplicate...
      </button>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="UnmarkDupesFromSelected"></rx-action-menu-button>
      </div>
      <mat-divider></mat-divider>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="ShowFaceMatches"></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="ShowMarkedDupes"></rx-action-menu-button>
      </div>
    </div>
  </mat-menu>

  <mat-menu #addMetadataMenu="matMenu">
    <div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="AddTagToSelected" label="Add tag..."></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="AddNameToSelected" label="Add name..."></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="AddArtistToSelected" label="Set artist..."></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="AddGroupToSelected" label="Set group..."></rx-action-menu-button>
      </div>
    </div>
  </mat-menu>

  <mat-menu #removeMetadataMenu="matMenu">
    <div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="RemoveTagFromSelected" label="Remove tag...">
        </rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="RemoveNameFromSelected" label="Remove name...">
        </rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="RemoveArtistFromSelected" label="Remove artist">
        </rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="RemoveGroupFromSelected" label="Remove group">
        </rx-action-menu-button>
      </div>
    </div>
  </mat-menu>

  <mat-menu #markDuplicateMenu="matMenu">
    <div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="MarkDupesExactFromSelected"></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="MarkDupesMostFromSelected"></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="MarkDupesPartialFromSelected"></rx-action-menu-button>
      </div>
      <div mat-menu-item disableRipple>
        <rx-action-menu-button [action]="MarkDupesNoneFromSelected"></rx-action-menu-button>
      </div>
    </div>
  </mat-menu>
</rx-context-menu>
