<rx-deleted-browser #browser
  class="half-panel"
  [ngClass]="{'full-screen': configService.mobileMode$.value}"
  (selectionChange)="onSelectionChange($event && $event.item || null)">
</rx-deleted-browser>
<rx-image-viewer #editor
  class="half-panel"
  [ngClass]="{'rx-hidden': configService.mobileMode$.value}"
  [allowFullscreen]="false"
  [readonly]="true"
  [target]="selected">
</rx-image-viewer>
