<rx-image-browser #browser
  class="half-panel"
  [ngClass]="{
    'full-screen': configService.viewMode$.value === 'selector',
    'rx-hidden': configService.viewMode$.value === 'image'
  }"
  (selectionChange)="onSelectionChange($event && $event.item || null)">
</rx-image-browser>
<rx-image-viewer #editor
  class="half-panel"
  [ngClass]="{
    'full-screen': configService.viewMode$.value === 'image',
    'rx-hidden': configService.viewMode$.value === 'selector'
  }"
  [allowNavigation]="true"
  [target]="selected"
  (navigationRequest)="browser.navigate($event)">
</rx-image-viewer>
