:host {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  margin: 2.5px;
  position: relative;
}

.half-panel {
  flex-basis: 50%;
  overflow: hidden;
}

.full-screen {
  flex-basis: 100% !important;
}

