<div class="rx-card rx-title-card">
  <div class="rx-card-header rx-header-1">
    All Artists

    <div class="rx-spacer"></div>

    <button mat-icon-button color=primary (click)="refreshQuery()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</div>

<div class="rx-card rx-results-card">
  <div class="rx-card-content">
    <rx-status-overlay [status]="status" [message]="statusMessage"></rx-status-overlay>
    <rx-artist-table
      tabindex="-1"
      class="table"
      [ngClass]="{'rx-hidden': items.length === 0}"
      (keydown.ArrowDown)="navigate({direction: 'next'}); $event.preventDefault()"
      (keydown.ArrowUp)="navigate({direction: 'prev'}); $event.preventDefault()"
      (keydown.shift.ArrowDown)="navigate({direction: 'next', extend: true}); $event.preventDefault()"
      (keydown.shift.ArrowUp)="navigate({direction: 'prev', extend: true}); $event.preventDefault()"
      [sort]="query.sort"
      [selectionManager]="selectionManager"
      (sortChange)="onSortChange($event)">
    </rx-artist-table>
  </div>
</div>
