:host {
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.table {
  flex-shrink: 1;
  height: 100%;
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.rx-card-content {
  position: relative;
}

.rx-card.title-buttons-card {
  padding-right: 0;
}

.rx-card.deleted-browser-card {
  flex-grow: 1;
  flex-shrink: 1;
}

.mobile-filter-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
  button {
    align-self: center;
  }
}
