<div class="rx-card rx-title-card deleted-browser-card">
  <div class="rx-card-header rx-header-2">
    <div>Deleted Items</div>

    <div class="rx-spacer"></div>

    <button [rxActionable]="ActionPermadeleteSelected" #permadeleteActionable=actionable
            mat-mini-fab disableRipple [disabled]="permadeleteActionable.disabled" color="warn"
            [matTooltip]="permadeleteActionable.description || ''">
      <mat-icon>delete_forever</mat-icon>
    </button>

    <button [rxActionable]="ActionRestoreSelected" #restoreActionable=actionable
            mat-mini-fab disableRipple [disabled]="restoreActionable.disabled" color="primary"
            [matTooltip]="restoreActionable.description || ''">
      <mat-icon>restore</mat-icon>
    </button>
  </div>

  <div class="rx-card-content">
    <rx-status-overlay [status]="status" [message]="statusMessage"></rx-status-overlay>

    <rx-image-table
      tabindex="-1"
      class="table"
      [ngClass]="{'rx-hidden': items.length === 0}"
      (keydown.ArrowDown)="navigate({direction: 'next'}); $event.preventDefault()"
      (keydown.ArrowUp)="navigate({direction: 'prev'}); $event.preventDefault()"
      (keydown.shift.ArrowDown)="navigate({direction: 'next', extend: true}); $event.preventDefault()"
      (keydown.shift.ArrowUp)="navigate({direction: 'prev', extend: true}); $event.preventDefault()"
      [mode]="'thumbnails'"
      [selectionManager]="selectionManager"
      (contextmenu)="contextMenu.open($event)">
    </rx-image-table>

  </div>

  <div class="rx-card-footer rx-paginator">
    <mat-paginator [length]="totalCount"
                   [pageIndex]="query.page"
                   [pageSize]="query.size"
                   [hidePageSize]="true"
                   (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</div>

<rx-delete-selection-context-menu #contextMenu></rx-delete-selection-context-menu>

<rx-delete-selection-action-manager [selection]="selectionChange"></rx-delete-selection-action-manager>
