<div class="rx-card">
  <div class="rx-card-header rx-header-1">
    <div>Possible duplicates</div>
  </div>

  <rx-dupe-candidates-filter [query]="query" (queryChange)="refreshQuery()">
  </rx-dupe-candidates-filter>

  <div class="rx-card-content">

    <rx-status-overlay [status]="status" [message]="statusMessage"></rx-status-overlay>

    <div class="rx-card" *ngFor="let item of items; let i = index">
      <div class="compare-panel">
        <rx-image [target]="item.item1"
          [ngClass]="{'rx-inactive-fill': item.item1.hidden}"
          [showTooltip]="true"
          [linkImage]="true">
        </rx-image>
        <rx-image [target]="item.item2"
          [ngClass]="{'rx-inactive-fill': item.item2.hidden}"
          [showTooltip]="true"
          [linkImage]="true">
        </rx-image>
      </div>

      <div class="rx-card-footer-actions">
        <b>Score:</b>
        <div>{{item.score}}</div>

        <div class="rx-spacer"></div>

        <button mat-raised-button [disabled]="item.mark == null" color=warning disableRipple (click)="unmarkAsDupes(item)">Clear marked</button>
        <button *ngFor="let dupeType of DUPE_TYPES"
          mat-raised-button
          disableRipple
          [color]="item.mark === dupeType && 'primary'"
          (click)="markAsDupes(item, dupeType)">
          {{dupeType}}
        </button>
      </div>
    </div>
  </div>

  <div class="rx-card-footer rx-paginator">
    <mat-paginator [length]="totalCount"
                   [pageIndex]="query.page"
                   [pageSize]="query.size"
                   [hidePageSize]="true"
                   (page)="onPageEvent($event)">
    </mat-paginator>
  </div>
</div>