:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: auto;

  > .rx-card {
    flex-grow: 1;
    padding-bottom: 0;

    > .rx-card-content {
      display: flex;
      flex-direction: column;
      position: relative;

      .rx-card {
        flex-shrink: 0;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        .compare-panel {
          display: flex;
          max-height: 400px;
          rx-image {
            width: 400px;
          }
        }
      }
    }
  }
}
