<div class="rx-card rx-title-card">
  <div class="rx-card-header">
    <div class="rx-header-1">
      Correlation Eigenvectors
    </div>

    <div class="rx-spacer"></div>

    <rx-eigendata-filter [query]="query" (queryChange)="refreshQuery()">
    </rx-eigendata-filter>

    <button mat-raised-button disableRipple (click)="table.toggleAll(true)">Expand all</button>

    <button mat-raised-button disableRipple (click)="table.toggleAll(false)">Close all</button>
  </div>
</div>

<div class="rx-card rx-results-card">
  <div class="rx-card-content">
    <rx-status-overlay [status]="status" [message]="statusMessage"></rx-status-overlay>
    <rx-eigendata-table #table
      tabindex="-1"
      class="table"
      [ngClass]="{'rx-hidden': items.length === 0}"
      [selectionManager]="selectionManager">
    </rx-eigendata-table>
  </div>
</div>