<ng-template #buttonsMobile>
  <rx-view-mode-selector></rx-view-mode-selector>
</ng-template>

<ng-template #buttonsDesktop>
  <mat-button-toggle-group [(value)]="displayMode">
    <mat-button-toggle value="thumbnails">
      <mat-icon>view_module</mat-icon>
    </mat-button-toggle>
    <mat-button-toggle value="list">
      <mat-icon>list</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</ng-template>

<ng-template #filterMobile>
  <div class="mobile-filter-container">
    <rx-group-filter [query]="query" [compact]="true"></rx-group-filter>
    <button mat-raised-button color=primary (click)="refreshQueryAndViewImage()">Go!</button>
  </div>
</ng-template>

<ng-template #filterDesktop>
  <rx-group-filter [query]="query" (queryChange)="refreshQuery()"></rx-group-filter>
</ng-template>

<ng-template #contentDesktop>
  <div class="rx-card rx-results-card">
    <div class="rx-card-header">
      <rx-group-table-header [sort]="query.sort" (sortChange)="onSortChange($event)"></rx-group-table-header>
    </div>

    <div class="rx-card-content">
      <rx-status-overlay [status]="status" [message]="statusMessage"></rx-status-overlay>

      <rx-group-table
        tabindex="-1"
        class="table"
        [ngClass]="{'rx-hidden': items.length === 0}"
        (keydown.ArrowDown)="navigate({direction: 'next'}); $event.preventDefault()"
        (keydown.ArrowUp)="navigate({direction: 'prev'}); $event.preventDefault()"
        (keydown.shift.ArrowDown)="navigate({direction: 'next', extend: true}); $event.preventDefault()"
        (keydown.shift.ArrowUp)="navigate({direction: 'prev', extend: true}); $event.preventDefault()"
        [mode]="displayMode"
        [selectionManager]="selectionManager"
        [imageSelectionManagers]="imageSelectionManagers"
        (contextmenu)="contextMenu.open($event)">
      </rx-group-table>
    </div>

    <div class="rx-card-footer rx-paginator">
      <mat-paginator [length]="totalCount"
                     [pageIndex]="query.page"
                     [pageSize]="query.size"
                     [hidePageSize]="true"
                     (page)="onPageEvent($event)">
      </mat-paginator>
    </div>
  </div>

  <rx-selection-context-menu #contextMenu></rx-selection-context-menu>

</ng-template>

<div class="rx-card rx-title-card title-buttons-card">
  <div class="rx-card-header rx-header-1">
    <div>Search Groups</div>

    <div class="rx-spacer"></div>

    <ng-container *ngIf="configService.mobileMode$.value; then buttonsMobile; else buttonsDesktop">
    </ng-container>
  </div>
  <ng-container *ngIf="!configService.mobileMode$.value; then filterDesktop;">
  </ng-container>
</div>

<ng-container *ngIf="configService.mobileMode$.value; then filterMobile; else contentDesktop">
</ng-container>

<rx-selection-action-manager [selection]="selectionChange"></rx-selection-action-manager>
