<div>
  <mat-form-field appearance="outline">
    <mat-label>Results per page</mat-label>
    <mat-select [(ngModel)]="query.size" (selectionChange)="changed()">
      <mat-option *ngFor="let size of PAGE_SIZE_OPTIONS" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Marked duplicates</mat-label>
    <mat-select [(ngModel)]="query.marked" (selectionChange)="changed()">
      <mat-option [value]="FLAG_FILTER_FALSE">Exclude</mat-option>
      <mat-option [value]="FLAG_FILTER_ALL">Include</mat-option>
      <mat-option [value]="FLAG_FILTER_TRUE">Only</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div>
  <mat-form-field appearance="outline">
    <mat-label>Score cutoff</mat-label>
    <input matInput step="0.05" type="number" [(ngModel)]="query.cutoff" (change)="changed()">
  </mat-form-field>
</div>

<div class="rx-spacer"></div>

<button mat-icon-button color=primary (click)="changed()">
  <mat-icon>refresh</mat-icon>
</button>
