<label>Number Vectors</label>
<input #numVecsInput
  id="numVecsInput"
  class="rx-input"
  size="3"
  pattern="[1-9][0-9]*"
  required
  [value]="query.numVecs"
  (change)="updateNumVecs(numVecsInput)"
  title="The number of vectors included must be a positive integer">

<label>Number Weights</label>
<input #numWeightsInput
  id="numWeightsInput"
  class="rx-input"
  size="3"
  pattern="[1-9][0-9]*"
  required
  [value]="query.numWeights"
  (change)="updateNumWeights(numWeightsInput)"
  title="The number of weights must be a positive integer">
