<div *ngIf="!compact" class="filter-search-bar">

  <rx-group-filter-menu #rxMenu [query]="query" (changed)="changed()">
    <button mat-icon-button color=primary (click)="rxMenu.open($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </rx-group-filter-menu>

  <rx-editable>
    <button rxViewMode mat-raised-button disableRipple class="tag">
      Add tag filter
    </button>
    <rx-content-input #tagInput rxEditMode (rxEditFocus)="tagInput.open()"
      type="tag"
      placeholder="Search by tag"
      [allowCreate]="false"
      [multiple]="false"
      (selected)="addContentFilter($event)">
    </rx-content-input>
  </rx-editable>
  <rx-editable>
    <button rxViewMode mat-raised-button disableRipple class="name">
      Add name filter
    </button>
    <rx-content-input #nameInput rxEditMode (rxEditFocus)="nameInput.open()"
      type="name"
      placeholder="Search by name"
      [multiple]="false"
      [allowCreate]="false"
      (selected)="addContentFilter($event)">
    </rx-content-input>
  </rx-editable>

  <div class="rx-spacer"></div>

  <button mat-icon-button color=primary (click)="changed()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div *ngIf="!compact">
  <rx-chip-list>
    <rx-chip *ngFor="let tagId of query.tags; let i = index"
      class="tag"
      [removable]="true"
      (removed)="query.tags.splice(i, 1) && changed()">
      {{tagId | contentValue: 'tag' | async}}
    </rx-chip>
    <rx-chip *ngFor="let nameId of query.names; let i = index"
      class="name"
      [removable]="true"
      (removed)="query.names.splice(i, 1) && changed()">
      {{nameId | contentValue: 'name' | async}}
    </rx-chip>
    <rx-chip *ngIf="query.hidden !== FLAG_FILTER_FALSE"
      class="show-hidden"
      [removable]="true"
      (removed)="query.hidden = FLAG_FILTER_FALSE; changed()">
      {{query.hidden === FLAG_FILTER_TRUE ? 'only hidden' : 'include hidden'}}
    </rx-chip>
    <rx-chip *ngIf="query.createdTime.upper !== null || query.createdTime.lower !== null"
      class="created-time"
      [removable]="true"
      (removed)="removeRange(query.createdTime)">
      added {{query.createdTime | dateRange}}
    </rx-chip>
  </rx-chip-list>
</div>

<ng-container *ngIf="compact">

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Tags</span>
        <rx-chip *ngFor="let tagId of query.tags; let i = index"
          class="tag"
          [removable]="true"
          (removed)="query.tags.splice(i, 1) && changed()">
          {{tagId | contentValue: 'tag' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.tags.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="tag"
        placeholder="Search by tag"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Names</span>
        <rx-chip *ngFor="let nameId of query.names; let i = index"
          class="name"
          [removable]="true"
          (removed)="query.names.splice(i, 1) && changed()">
          {{nameId | contentValue: 'name' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.names.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="name"
        placeholder="Search by name"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Other</span>
        <rx-chip *ngIf="query.hidden !== FLAG_FILTER_FALSE"
          class="show-hidden"
          [removable]="true"
          (removed)="query.hidden = FLAG_FILTER_FALSE; changed()">
          {{query.hidden === FLAG_FILTER_TRUE ? 'only hidden' : 'include hidden'}}
        </rx-chip>
        <rx-chip *ngIf="query.createdTime.upper !== null || query.createdTime.lower !== null"
          class="created-time"
          [removable]="true"
          (removed)="removeRange(query.createdTime)">
          added {{query.createdTime | dateRange}}
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-group-filter-menu #rxMenu [query]="query" (changed)="changed()">
        <button mat-raised-button disableRipple (click)="rxMenu.open($event)">
          Add
        </button>
      </rx-group-filter-menu>
    </div>
  </div>
</ng-container>
