<div *ngIf="!compact" class="filter-search-bar">

  <rx-image-filter-menu #rxMenu [query]="query" (changed)="changed()">
    <button mat-icon-button color=primary (click)="rxMenu.open($event)">
      <mat-icon>more_vert</mat-icon>
    </button>
  </rx-image-filter-menu>

  <rx-editable *ngFor="let contentType of ADD_CONTENT_TYPES">
    <button rxViewMode mat-raised-button disableRipple [class]="contentType">
      {{contentType | titlecase}}
    </button>
    <rx-content-input #input rxEditMode (rxEditFocus)="input.open()"
      [type]="contentType"
      placeholder="Search by {{contentType}}"
      [allowCreate]="false"
      [multiple]="false"
      (selected)="addContentFilter($event)">
    </rx-content-input>
  </rx-editable>

  <div class="rx-spacer"></div>

  <button mat-icon-button color=primary (click)="changed()">
    <mat-icon>refresh</mat-icon>
  </button>
</div>

<div *ngIf="!compact">
  <rx-chip-list>
    <rx-chip *ngFor="let id of query.features; let i = index"
      class="feature"
      [removable]="true"
      (removed)="query.features.splice(i, 1) && changed()">
      {{id | contentValue: 'feature' | async}}
    </rx-chip>
    <rx-chip *ngFor="let tagId of query.tags; let i = index"
      class="tag"
      [removable]="true"
      (removed)="query.tags.splice(i, 1) && changed()">
      {{tagId | contentValue: 'tag' | async}}
    </rx-chip>
    <rx-chip *ngFor="let nameId of query.names; let i = index"
      class="name"
      [removable]="true"
      (removed)="query.names.splice(i, 1) && changed()">
      {{nameId | contentValue: 'name' | async}}
    </rx-chip>
    <rx-chip *ngFor="let id of query.notFeatures; let i = index"
      class="not-feature"
      [removable]="true"
      (removed)="query.notFeatures.splice(i, 1) && changed()">
      NOT {{id | contentValue: 'feature' | async}}
    </rx-chip>
    <rx-chip *ngFor="let tagId of query.notTags; let i = index"
      class="not-tag"
      [removable]="true"
      (removed)="query.notTags.splice(i, 1) && changed()">
      NOT {{tagId | contentValue: 'tag' | async}}
    </rx-chip>
    <rx-chip *ngFor="let id of query.notNames; let i = index"
      class="not-name"
      [removable]="true"
      (removed)="query.notNames.splice(i, 1) && changed()">
      NOT {{id | contentValue: 'name' | async}}
    </rx-chip>
    <rx-chip *ngFor="let artistId of query.artists; let i = index"
      class="artist"
      [removable]="true"
      (removed)="query.artists.splice(i, 1) && changed()">
      {{artistId}}: {{artistId | contentValue: 'artist' | async}}
    </rx-chip>
    <rx-chip *ngFor="let groupId of query.groups; let i = index"
      class="group"
      [removable]="true"
      (removed)="query.groups.splice(i, 1) && changed()">
      {{groupId}}: {{groupId | contentValue: 'group' | async}}
    </rx-chip>
    <rx-chip *ngIf="query.processed !== FLAG_FILTER_ALL"
      class="processed"
      [removable]="true"
      (removed)="query.processed = FLAG_FILTER_ALL; changed()">
      {{query.processed === FLAG_FILTER_TRUE ? 'only processed' : 'only unprocessed'}}
    </rx-chip>
    <rx-chip *ngIf="query.favorite !== FLAG_FILTER_ALL"
      class="favorite"
      [removable]="true"
      (removed)="query.favorite = FLAG_FILTER_ALL; changed()">
      {{query.favorite === FLAG_FILTER_TRUE ? 'only favorites' : 'only non-favorites'}}
    </rx-chip>
    <rx-chip *ngIf="query.hidden !== FLAG_FILTER_FALSE"
      class="show-hidden"
      [removable]="true"
      (removed)="query.hidden = FLAG_FILTER_FALSE; changed()">
      {{query.hidden === FLAG_FILTER_TRUE ? 'only hidden' : 'include hidden'}}
    </rx-chip>
    <rx-chip *ngIf="query.isVideo !== FLAG_FILTER_ALL"
      class="is-video"
      [removable]="true"
      (removed)="query.isVideo = FLAG_FILTER_ALL; changed()">
      {{query.isVideo === FLAG_FILTER_TRUE ? 'only videos' : 'only images'}}
    </rx-chip>
    <rx-chip *ngIf="query.marked !== FLAG_FILTER_ALL"
      class="marked"
      [removable]="true"
      (removed)="query.marked = FLAG_FILTER_ALL; changed()">
      {{query.marked === FLAG_FILTER_TRUE ? 'marked' : 'unmarked'}}
    </rx-chip>
    <rx-chip *ngIf="query.hasArtist !== FLAG_FILTER_ALL"
      class="artist"
      [removable]="true"
      (removed)="query.hasArtist = FLAG_FILTER_ALL; changed()">
      {{query.hasArtist === FLAG_FILTER_TRUE ? 'only with artist' : 'only without artist'}}
    </rx-chip>
    <rx-chip *ngIf="query.grouped !== FLAG_FILTER_ALL"
      class="grouped"
      [removable]="true"
      (removed)="query.grouped = FLAG_FILTER_ALL; changed()">
      {{query.grouped === FLAG_FILTER_TRUE ? 'only grouped' : 'only ungrouped'}}
    </rx-chip>
    <rx-chip *ngIf="query.createdTime.upper !== null || query.createdTime.lower !== null"
      class="created-time"
      [removable]="true"
      (removed)="removeRange(query.createdTime)">
      added {{query.createdTime | dateRange}}
    </rx-chip>
    <rx-chip *ngIf="query.processedTime.upper !== null || query.processedTime.lower !== null"
      class="processed-time"
      [removable]="true"
      (removed)="removeRange(query.processedTime)">
      processed {{query.processedTime | dateRange}}
    </rx-chip>
    <rx-chip *ngIf="query.rating.lower !== null || query.rating.upper !== null"
      class="rating"
      [removable]="true"
      (removed)="removeRange(query.rating)">
      {{'rating' | range: query.rating.lower:query.rating.upper}}
    </rx-chip>
    <rx-chip *ngIf="query.ratingCount.lower !== null || query.ratingCount.upper !== null"
      class="rating"
      [removable]="true"
      (removed)="removeRange(query.ratingCount)">
      {{'rating count' | range : query.ratingCount.lower:query.ratingCount.upper }}
    </rx-chip>
  </rx-chip-list>
</div>

<ng-container *ngIf="compact">

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Tags</span>
        <rx-chip *ngFor="let tagId of query.tags; let i = index"
          class="tag"
          [removable]="true"
          (removed)="query.tags.splice(i, 1) && changed()">
          {{tagId | contentValue: 'tag' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.tags.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="tag"
        placeholder="Search by tag"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Names</span>
        <rx-chip *ngFor="let nameId of query.names; let i = index"
          class="name"
          [removable]="true"
          (removed)="query.names.splice(i, 1) && changed()">
          {{nameId | contentValue: 'name' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.names.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="name"
        placeholder="Search by name"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Artists</span>
        <rx-chip *ngFor="let artistId of query.artists; let i = index"
          class="artist"
          [removable]="true"
          (removed)="query.artists.splice(i, 1) && changed()">
          {{artistId}}: {{artistId | contentValue: 'artist' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.artists.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="artist"
        placeholder="Search by artist"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Groups</span>
        <rx-chip *ngFor="let groupId of query.groups; let i = index"
          class="group"
          [removable]="true"
          (removed)="query.groups.splice(i, 1) && changed()">
          {{groupId}}: {{groupId | contentValue: 'group' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.groups.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="group"
        placeholder="Search by group"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Features</span>
        <rx-chip *ngFor="let id of query.features; let i = index"
          class="feature"
          [removable]="true"
          (removed)="query.features.splice(i, 1) && changed()">
          {{id}}: {{id | contentValue: 'feature' | async}}
        </rx-chip>
        <rx-chip *ngIf="query.features.length === 0" class="disabled">
          No filters
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-content-input
        type="feature"
        placeholder="Search by feature"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addContentFilter($event)">
      </rx-content-input>
    </div>
  </div>

  <div class="rx-card">
    <div class="rx-card-header rx-header-2">
      <rx-chip-list>
        <span class="compact-chip-list-label">Other</span>
        <rx-chip *ngIf="query.isVideo !== FLAG_FILTER_ALL"
          class="is-video"
          [removable]="true"
          (removed)="query.isVideo = FLAG_FILTER_ALL; changed()">
          {{query.isVideo === FLAG_FILTER_TRUE ? 'only videos' : 'only images'}}
        </rx-chip>
        <rx-chip *ngIf="query.marked !== FLAG_FILTER_ALL"
          class="marked"
          [removable]="true"
          (removed)="query.marked = FLAG_FILTER_ALL; changed()">
          {{query.marked === FLAG_FILTER_TRUE ? 'marked' : 'unmarked'}}
        </rx-chip>
        <rx-chip *ngIf="query.hasArtist !== FLAG_FILTER_ALL"
          class="artist"
          [removable]="true"
          (removed)="query.hasArtist = FLAG_FILTER_ALL; changed()">
          {{query.hasArtist === FLAG_FILTER_TRUE ? 'only with artist' : 'only without artist'}}
        </rx-chip>
        <rx-chip *ngIf="query.grouped !== FLAG_FILTER_ALL"
          class="grouped"
          [removable]="true"
          (removed)="query.grouped = FLAG_FILTER_ALL; changed()">
          {{query.grouped === FLAG_FILTER_TRUE ? 'only grouped' : 'only ungrouped'}}
        </rx-chip>
        <rx-chip *ngIf="query.favorite !== FLAG_FILTER_ALL"
          class="favorite"
          [removable]="true"
          (removed)="query.favorite = FLAG_FILTER_ALL; changed()">
          {{query.favorite === FLAG_FILTER_TRUE ? 'only favorites' : 'only non-favorites'}}
        </rx-chip>
        <rx-chip *ngIf="query.processed !== FLAG_FILTER_ALL"
          class="processed"
          [removable]="true"
          (removed)="query.processed = FLAG_FILTER_ALL; changed()">
          {{query.processed === FLAG_FILTER_TRUE ? 'only processed' : 'only unprocessed'}}
        </rx-chip>
        <rx-chip *ngIf="query.hidden !== FLAG_FILTER_FALSE"
          class="show-hidden"
          [removable]="true"
          (removed)="query.hidden = FLAG_FILTER_FALSE; changed()">
          {{query.hidden === FLAG_FILTER_TRUE ? 'only hidden' : 'include hidden'}}
        </rx-chip>
        <rx-chip *ngIf="query.createdTime.upper !== null || query.createdTime.lower !== null"
          class="created-time"
          [removable]="true"
          (removed)="removeRange(query.createdTime)">
          added {{query.createdTime | dateRange}}
        </rx-chip>
        <rx-chip *ngIf="query.processedTime.upper !== null || query.processedTime.lower !== null"
          class="processed-time"
          [removable]="true"
          (removed)="removeRange(query.processedTime)">
          processed {{query.processedTime | dateRange}}
        </rx-chip>
        <rx-chip *ngIf="query.rating.lower !== null || query.rating.upper !== null"
          class="rating"
          [removable]="true"
          (removed)="removeRange(query.rating)">
          {{'rating' | range : query.rating.lower:query.rating.upper }}
        </rx-chip>
        <rx-chip *ngIf="query.ratingCount.lower !== null || query.ratingCount.upper !== null"
          class="rating"
          [removable]="true"
          (removed)="removeRange(query.ratingCount)">
          {{'rating count' | range : query.ratingCount.lower:query.ratingCount.upper }}
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer-actions">
      <rx-image-filter-menu #rxMenu [query]="query" (changed)="changed()">
        <button mat-raised-button disableRipple (click)="rxMenu.open($event)">
          Add
        </button>
      </rx-image-filter-menu>
    </div>
  </div>
</ng-container>
