:host {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
}

.filter-search-bar {
  align-items: center;
  display: flex;
  height: 52px;
  width: 100%;
}

.compact-chip-list-label {
  margin-right: 10px;
}
