:host {
  cursor: pointer;
}

.menu-button-container {
  display: flex;
  width: 100%;

  > .label {
    flex: 1 1;
  }

  > .key {
    color: var(--foreground-light-secondary);
    flex: none;
    font-weight: 500;
    margin-left: 10px;
  }

}

.menu-button-container.disabled {
  color: var(--foreground-disabled);
  cursor: default;
}
