html, body {
  font-family: Futura, Charcoal, sans-serif;
  background: #303030;
  color: white;
}

input {
  background: #424242;
  border-radius: 4px;
  border: 1px solid #888;
  color: white;
  padding-left: 6px;
  height: 30px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.title-row  {
  align-items: center;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 20px;
}

button {
  background: rgb(0, 140, 186);
  border: none !important;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  height: 30px;
}

button:disabled {
  background: grey;
  color: LightGray;
  cursor: default;
}

li {
  align-items: center;
  display: flex;
  padding: 2px 20px;
  height: 50px;
  width: 300px;
}

li > * {
  flex-grow: 0;
  flex-shrink: 0;
}

li > span {
  width: 70px;
}

li > input[type=text] {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 20px;
  margin-right: 8px;
  min-width: 0;
}

li > input[type=checkbox] {
  margin-left: 20px;
}
