:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

:host.crosshair {
  cursor: crosshair;
}

canvas {
  width: 100%;
  height: 100%;
  background: rgba(0.5, 0.5, 0.5, 0.1);
}
