<ng-container *ngFor="let list of content; let i = index">
  <div class="rx-card" *ngIf="list">
    <div class="rx-card-header rx-header-2">{{labels[i]}}</div>
    <div class="rx-card-content">
      <rx-chip-list>
        <rx-chip *ngFor="let rel of list" class="{{types[i]}}">
          {{rel[0] | contentValue : types[i] | async}} ({{ rel[1] | decimal }})
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="rx-card-footer"></div>
  </div>
</ng-container>
