<div [matMenuTriggerFor]="menu">
  <ng-content></ng-content>
</div>

<mat-menu #menu="matMenu">
  <div mat-menu-item disableRipple [matMenuTriggerFor]="resultsPerPageMenu">
    Results per page
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="hiddenFilterMenu">
    Hidden filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="createdTimeFilterMenu">
    Added date filter
  </div>
  <div mat-menu-item disableRipple>
    <mat-slide-toggle
      [checked]="query.sort && query.sort.active === 'random'"
      (change)="query.toggleRandom() && changed.emit()">
      Randomize results
    </mat-slide-toggle>
  </div>
</mat-menu>

<mat-menu #hiddenFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.hidden"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Exclude hidden images
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Include hidden images
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show hidden images
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #resultsPerPageMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.size"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple *ngFor="let size of PAGE_SIZE_OPTIONS">
      <mat-radio-button [value]="size">
        {{size}}
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #createdTimeFilterMenu="matMenu">
  <div mat-menu-item disableRipple>
    <div class="date-selector" (click)="$event.stopPropagation()">
      Added after
      <input class="rx-input mat-body-1"
             [matDatepicker]="createdTimeLowerPicker"
             [(ngModel)]="query.createdTime.lower"
             (dateChange)="changed.emit()"
             maxlength=10 size=10
             placeholder="lower date">
      <mat-datepicker #createdTimeLowerPicker></mat-datepicker>
      <mat-datepicker-toggle [for]="createdTimeLowerPicker"></mat-datepicker-toggle>
    </div>
  </div>
  <div mat-menu-item disableRipple>
    <div class="date-selector" (click)="$event.stopPropagation()">
      Added before
      <input class="rx-input mat-body-1"
             [matDatepicker]="createdTimeUpperPicker"
             [(ngModel)]="query.createdTime.upper"
             (dateChange)="changed.emit()"
             maxlength=10 size=10
             placeholder="upper date">
      <mat-datepicker #createdTimeUpperPicker></mat-datepicker>
      <mat-datepicker-toggle [for]="createdTimeUpperPicker"></mat-datepicker-toggle>
    </div>
  </div>
</mat-menu>
