<div [matMenuTriggerFor]="menu">
  <ng-content></ng-content>
</div>

<mat-menu #menu="matMenu">
  <div mat-menu-item disableRipple [matMenuTriggerFor]="resultsPerPageMenu">
    Results per page
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="isVideoFilterMenu">
    Media type filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="processedFilterMenu">
    Processed filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="hiddenFilterMenu">
    Hidden filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="favoriteFilterMenu">
    Favorited filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="ratingFilterMenu">
    Rating filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="ratingCountFilterMenu">
    Rating Count filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="advancedMenu">
    Advanced
  </div>
  <div mat-menu-item disableRipple>
    <mat-slide-toggle
      [checked]="query.sort && query.sort.active === 'random'"
      (change)="query.toggleRandom() && changed.emit()">
      Randomize results
    </mat-slide-toggle>
  </div>
</mat-menu>

<mat-menu #isVideoFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.isVideo"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Show all
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show videos
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Only show images
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #markedFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.marked"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Show all
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show marked
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Only show unmarked
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #processedFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.processed"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Show all
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show processed
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Only show unprocessed
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #hiddenFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.hidden"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Exclude hidden images
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Include hidden images
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show hidden images
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #hasArtistFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.hasArtist"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Show all
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show with artist
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Only show without artist
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #groupedFilterMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.grouped"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Show all
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show grouped
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Only show ungrouped
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #favoriteFilterMenu="matMenu">
  <mat-radio-group [(ngModel)]="query.favorite" (change)="changed.emit()">
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_ALL">
        Show all
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_TRUE">
        Only show favorites
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button [value]="FLAG_FILTER_FALSE">
        Only show non-favorites
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #ratingFilterMenu="matMenu">
  <div mat-menu-item disableRipple>
    <div class="rating-selector" (click)="$event.stopPropagation()">
      Betweeen
      <input class="rx-input mat-body-1"
             type="number"
             [(ngModel)]="query.rating.lower"
             (change)="changed.emit()"
             maxlength=3 size=3
             placeholder="lower">
      and
      <input class="rx-input mat-body-1"
             type="number"
             [(ngModel)]="query.rating.upper"
             (change)="changed.emit()"
             maxlength=3 size=3
             placeholder="upper">
    </div>
  </div>
</mat-menu>

<mat-menu #ratingCountFilterMenu="matMenu">
  <div mat-menu-item disableRipple>
    <div class="rating-selector" (click)="$event.stopPropagation()">
      Betweeen
      <input class="rx-input mat-body-1"
             type="number"
             pattern="[0-9]*"
             [(ngModel)]="query.ratingCount.lower"
             (change)="changed.emit()"
             maxlength=3
             size=3
             placeholder="lower">
      and
      <input class="rx-input mat-body-1"
             type="number"
             pattern="[0-9]*"
             [(ngModel)]="query.ratingCount.upper"
             (change)="changed.emit()"
             maxlength=3
             size=3
             placeholder="upper">
    </div>
  </div>
</mat-menu>

<mat-menu #resultsPerPageMenu="matMenu">
  <mat-radio-group
    [(ngModel)]="query.size"
    (change)="changed.emit()">
    <div mat-menu-item disableRipple *ngFor="let size of PAGE_SIZE_OPTIONS">
      <mat-radio-button [value]="size">
        {{size}}
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #createdTimeFilterMenu="matMenu">
  <div mat-menu-item disableRipple>
    <div class="date-selector" (click)="$event.stopPropagation()">
      Added after
      <input class="rx-input mat-body-1"
             [matDatepicker]="createdTimeLowerPicker"
             [(ngModel)]="query.createdTime.lower"
             (dateChange)="changed.emit()"
             maxlength=10 size=10
             placeholder="lower date">
      <mat-datepicker #createdTimeLowerPicker></mat-datepicker>
      <mat-datepicker-toggle [for]="createdTimeLowerPicker"></mat-datepicker-toggle>
    </div>
  </div>
  <div mat-menu-item disableRipple>
    <div class="date-selector" (click)="$event.stopPropagation()">
      Added before
      <input class="rx-input mat-body-1"
             [matDatepicker]="createdTimeUpperPicker"
             [(ngModel)]="query.createdTime.upper"
             (dateChange)="changed.emit()"
             maxlength=10 size=10
             placeholder="upper date">
      <mat-datepicker #createdTimeUpperPicker></mat-datepicker>
      <mat-datepicker-toggle [for]="createdTimeUpperPicker"></mat-datepicker-toggle>
    </div>
  </div>
</mat-menu>

<mat-menu #processedTimeFilterMenu="matMenu">
  <div mat-menu-item disableRipple>
    <div class="date-selector" (click)="$event.stopPropagation()">
      Processed after
      <input class="rx-input mat-body-1"
             [matDatepicker]="processedTimeLowerPicker"
             [(ngModel)]="query.processedTime.lower"
             (dateChange)="changed.emit()"
             maxlength=10 size=10
             placeholder="lower date">
      <mat-datepicker #processedTimeLowerPicker></mat-datepicker>
      <mat-datepicker-toggle [for]="processedTimeLowerPicker"></mat-datepicker-toggle>
    </div>
  </div>
  <div mat-menu-item disableRipple>
    <div class="date-selector" (click)="$event.stopPropagation()">
      Processed before
      <input class="rx-input mat-body-1"
             [matDatepicker]="processedTimeUpperPicker"
             [(ngModel)]="query.processedTime.upper"
             (dateChange)="changed.emit()"
             maxlength=10 size=10
             placeholder="upper date">
      <mat-datepicker #processedTimeUpperPicker></mat-datepicker>
      <mat-datepicker-toggle [for]="processedTimeUpperPicker"></mat-datepicker-toggle>
    </div>
  </div>
</mat-menu>

<mat-menu #advancedMenu="matMenu">
  <div mat-menu-item disableRipple>
    <rx-editable (click)="$event.stopPropagation()">
      <div rxViewMode mat-button disableRipple>
        Exclude tag
      </div>
      <rx-content-input #tagInput rxEditMode (rxEditFocus)="tagInput.open()"
        type="tag"
        placeholder="Search by tag"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addNotContentFilter($event)">
      </rx-content-input>
    </rx-editable>
  </div>
  <div mat-menu-item disableRipple>
    <rx-editable (click)="$event.stopPropagation()">
      <div rxViewMode mat-button disableRipple>
        Exclude name
      </div>
      <rx-content-input #nameInput rxEditMode (rxEditFocus)="nameInput.open()"
        type="name"
        placeholder="Search by tag"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addNotContentFilter($event)">
      </rx-content-input>
    </rx-editable>
  </div>
  <div mat-menu-item disableRipple>
    <rx-editable (click)="$event.stopPropagation()">
      <div rxViewMode mat-button disableRipple>
        Exclude feature
      </div>
      <rx-content-input #featureInput rxEditMode (rxEditFocus)="featureInput.open()"
        type="feature"
        placeholder="Search by feature"
        [allowCreate]="false"
        [multiple]="false"
        (selected)="addNotContentFilter($event)">
      </rx-content-input>
    </rx-editable>
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="groupedFilterMenu">
    Grouped filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="markedFilterMenu">
    Marked filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="hasArtistFilterMenu">
    Has artist filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="createdTimeFilterMenu">
    Added date filter
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="processedTimeFilterMenu">
    Processed date filter
  </div>
</mat-menu>
