.date-selector,
.rating-selector {
  align-items: center;
  display: flex;

  input {
    margin-left: 5px;
  }

  // Remove selector arrows from number input
  input[type=number] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.date-selector input {
  width: 70px;
}

.rating-selector input {
  width: 45px;
}
