<form [formGroup]="_form" (ngSubmit)="_doLogin()">

  <div class="rx-card">

    <div class="rx-card-header rx-header-1">
      Log in
    </div>

    <div class="rx-card-content">

      <mat-form-field appearance="outline">
        <mat-label>Username:</mat-label>
        <input matInput name="username" formControlName="username">
        <mat-error *ngIf="_forms.username.hasError('maxlength')">
          Cannot be longer than {{_forms.username.errors!['maxlength']!.requiredLength}} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password:</mat-label>
        <input matInput name="password" formControlName="password" type="password">
        <mat-error *ngIf="_forms.password.hasError('minlength')">
          Must be at least {{_forms.password.errors!['minlength'].requiredLength}} characters
        </mat-error>
        <mat-error *ngIf="_forms.password.hasError('maxlength')">
          Cannot be longer than {{_forms.password.errors!['maxlength'].requiredLength}} characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Schema: (blank for default)</mat-label>
        <input matInput name="schema" formControlName="schema">
      </mat-form-field>

      <div class="server-error-box">
        <mat-error *ngIf="_form.hasError('server')">{{_form.getError('server')}}</mat-error>
      </div>
    </div>
    <div class="rx-card-footer-actions">
      <button type="submit"
              [disabled]="!_form.valid"
              mat-raised-button
              color="primary">
        Login
      </button>
    </div>
  </div>
</form>
