:host {
  display: flex;
  justify-content: center;
}

.rx-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.server-error-box {
  padding-bottom: 20px;
}

mat-form-field {
  width: 300px;
}

