$header-row-height: 50px;
$row-height: 40px;
$row-icon-size: 20px;
$row-icon-vertical-padding: 6px;

.sort-panel {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.sort-panel > * {
  padding-right: 4px;
}

table {
  border-spacing: 0;
  table-layout: fixed !important;
  width: 100% !important;
}

tr {
  cursor: pointer;
  // Prevent row text from being selected
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  td {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: var(--border-foreground);
  }
}

tr:hover {
  filter: brightness(120%);
}

tr.image-hidden {
  filter: brightness(70%) !important;
}

tr.cdk-row {
  background: var(--background);
  height: $row-height;
}

th, td {
  padding: 0;
  padding-left: 5px;
  background: inherit;

  mat-icon {
    font-size: $row-icon-size;
    padding-top: $row-icon-vertical-padding;
    height: $row-icon-size;
  }
}

th {
  color: var(--foreground-light-secondary);
  font-size: 12px;
  font-weight: 500;
}

td {
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell-id {
  width: 60px;
}

th.cell-id {
  padding-left: 20px;
}

td.cell-id {
  padding-left: 0;
  text-align: center;
}

.cell-icon {
  width: 45px;
}

th.cell-icon {
  padding-left: 0;
}

td.cell-icon {
  padding-left: 2px;
  text-align: left;
}
