<table
  cdk-table [dataSource]="items || []"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="moveColumnEvent($event)"
  matSort
  (matSortChange)="sortChange.emit($event)"
  [matSortActive]="sort && sort.active || ''"
  matSortDisableClear
  [matSortDirection]="sort && sort.direction || ''">

  <ng-container cdkColumnDef="id">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-id">
      Id
    </th>
    <td cdk-cell *cdkCellDef="let item" class="cell-id">
      {{item.id}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="value">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-value">
      Value
    </th>
    <td cdk-cell *cdkCellDef="let item" class="cell-value">
      {{item.value}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="groupCount">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-id">
      Groups
    </th>
    <td cdk-cell *cdkCellDef="let item" class="cell-id">
      {{item.groupCount}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="imageCount">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-id">
      Images
    </th>
    <td cdk-cell *cdkCellDef="let item" class="cell-id">
      {{item.imageCount}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="score">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-id">
      Score
    </th>
    <td cdk-cell *cdkCellDef="let item" class="cell-id">
      {{item.score | decimal: 2}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="createdTime">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-created-time">
      Added Time
    </th>
    <td cdk-cell *cdkCellDef="let item" class="cell-created-time">
      {{item.createdTime | timeAgo }}
    </td>
  </ng-container>

  <ng-container>
    <tr cdk-header-row *cdkHeaderRowDef="columns; sticky: true" (contextmenu)="headerContextMenu.open($event)">
    </tr>
  </ng-container>
  <tr cdk-row *cdkRowDef="let row; columns: columns; let i = index;"
      (click)="selectionManager.setSelection(i, $event.shiftKey)"
      [ngClass]="{'rx-active': rowSelected[i]}">
  </tr>
</table>

<rx-context-menu #headerContextMenu>
  <mat-menu>
    <div mat-menu-item disableRipple *ngFor="let column of ALL_COLUMNS">
      <mat-slide-toggle [(ngModel)]="columnVisibility[column]"
                         (change)="recomputeDisplayedColumns()">{{column}}
      </mat-slide-toggle>
    </div>
  </mat-menu>
</rx-context-menu>
