<div class="eigendata" *ngFor="let item of items; let itemIndex = index">
  <div class="eigendata-header rx-subheader">
    <div class="cell-title">
      Eigenvector #{{itemIndex + 1}}
    </div>
    <div class="cell-eigenvalue">
      (eigenvalue {{item.eigenvalue | decimal: 2}})
    </div>
    <div class="expander-container" (click)="toggleRow(itemIndex)">
      <mat-icon>
        {{rowExpanded[itemIndex] && 'keyboard_arrow_up' || 'keyboard_arrow_down'}}
      </mat-icon>
    </div>
  </div>
  <div [ngClass]="{'rx-hidden': !rowExpanded[itemIndex]}" class="eigendata-body">
    <rx-graph [max]="1.0" [values]="item.weights" [allowNegative]="true">
      <rx-graph-label
        *ngFor="let item of item.items"
        class="{{item.type}}"
        [style]="'chip'"
        [matTooltip]="item.value">
        {{item.value}}
      </rx-graph-label>
    </rx-graph>
  </div>
</div>
