:host {
  display: flex;
  flex-direction: column;

  > div {
    margin-bottom: 2px;

    > .eigendata-header:hover {
      filter: brightness(120%);
    }
    > .eigendata-header {
      align-items: center;
      box-shadow: 0 7px 7px -7px rgba(0,0,0,.3), 0 -7px 7px -7px rgba(0,0,0,.3);
      display: flex;
      cursor: pointer;
      position: relative;
      z-index: 2;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
           -o-user-select: none;
              user-select: none;
      > .cell-title, .cell-eigenvalue {
        flex-grow: 0;
      }
      > .cell-title {
        font-weight: bold;
        margin-right: 20px;
      }
      > .expander-container {
        flex-grow: 1;
        display: flex;
        height: 100%;
        > mat-icon {
          margin-top: auto;
          margin-bottom: auto;
          margin-left: auto;
        }
      }
    }
    > .eigendata-body {
      padding: 10px;
    }
  }
}

rx-graph {
  height: 300px;
}

rx-graph-label.name {
  background: var(--name-color);
}

rx-graph-label.tag {
  background: var(--tag-color);
}
