:host {
  background: var(--background);
  display: flex;
  flex-direction: column;
}

.group {
  margin-top: 2px;
}

.group-row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  > .cell-id {
    width: 5%;
  }
  > .title-names-tags {
    align-items: center;
    display: flex;
    width: 90%;

    > .cell-title {
      flex-shrink: 0;
      font-weight: bold;
      overflow: hidden;
      padding-right: 20px;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  > .expander-container {
    display: flex;
    height: 100%;
    width: 5%;
    > mat-icon {
      margin: auto;
    }
  }
}

.group-row:hover {
  filter: brightness(120%);
}

