<div class="group" *ngFor="let target of items; let groupIndex = index">
  <div class="group-row rx-subheader"
       (click)="selectionManager.setSelection(groupIndex, $event.shiftKey)"
       [ngClass]="{'rx-active': rowSelected[groupIndex]}">
    <div class="cell-id">
      {{target.id}}
    </div>
    <div class="title-names-tags">
      <div class="cell-title">
        {{target.value}}
      </div>
      <rx-chip-list [nowrap]="true" [compact]="true">
        <rx-chip *ngFor="let tag of target.tags; let i = index" class="tag">
          {{tag.value}}
        </rx-chip>
        <rx-chip *ngFor="let name of target.names; let i = index" class="name">
          {{name.value}}
        </rx-chip>
      </rx-chip-list>
    </div>
    <div class="expander-container" (click)="toggleGroup(groupIndex)">
      <mat-icon>
        {{rowExpanded[groupIndex] && 'keyboard_arrow_up' || 'keyboard_arrow_down'}}
      </mat-icon>
    </div>
  </div>
  <div [ngClass]="{'rx-hidden': !rowExpanded[groupIndex]}">
    <rx-image-table
      [mode]="mode"
      [showHeader]="false"
      [columns]="DEFAULT_COLUMNS"
      [selectionManager]="imageSelectionManagers[groupIndex]">
    </rx-image-table>
  </div>
</div>
