<ng-container *ngIf="sort !== null">
  <mat-form-field appearance="outline">
    <mat-label>Sort by</mat-label>
    <mat-select [(value)]="sort.active" (selectionChange)="sortChange.emit(sort)">
      <mat-option value="id">
        Id
      </mat-option>
      <mat-option value="createdTime">
        Added Time
      </mat-option>
      <mat-option value="random">
        Random
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Sort direction</mat-label>
    <mat-select [(value)]="sort.direction" (selectionChange)="sortChange.emit(sort)">
      <mat-option value="asc">
        Ascending
      </mat-option>
      <mat-option value="desc">
        Descending
      </mat-option>
    </mat-select>
  </mat-form-field>
</ng-container>