<ng-container *ngIf="mode === 'thumbnails'">
  <div *ngIf="showHeader && sort" class="sort-panel">
    <mat-form-field appearance="outline">
      <mat-label>Sort by</mat-label>
      <mat-select [(value)]="sort.active" (selectionChange)="sortChange.emit(sort)">
        <mat-option value="id">
          Id
        </mat-option>
        <mat-option value="favorite">
          Favorite
        </mat-option>
        <mat-option value="filesize">
          File Size
        </mat-option>
        <mat-option value="processed">
          Processed
        </mat-option>
        <mat-option value="artistId">
          Artist
        </mat-option>
        <mat-option value="groupId">
          Group
        </mat-option>
        <mat-option value="rating">
          Rating
        </mat-option>
        <mat-option value="ratingCount">
          Rating Count
        </mat-option>
        <mat-option value="createdTime">
          Added Time
        </mat-option>
        <mat-option value="processedTime">
          Processed Time
        </mat-option>
        <mat-option value="length">
          Video Length
        </mat-option>
        <mat-option value="random">
          Random
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Sort direction</mat-label>
      <mat-select [(value)]="sort.direction" (selectionChange)="sortChange.emit(sort)">
        <mat-option value="asc">
          Ascending
        </mat-option>
        <mat-option value="desc">
          Descending
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-grid-list cols="5">
    <mat-grid-tile *ngFor="let image of items; let i = index"
                   [ngClass]="{'rx-active': rowSelected[i], 'image-hidden': image.hidden}">
      <rx-thumbnail [target]="image"
                    [ngClass]="{'rx-inactive-fill': image.hidden}"
                    (click)="selectionManager.setSelection(i, $event.shiftKey)">
      </rx-thumbnail>
    </mat-grid-tile>
  </mat-grid-list>
</ng-container>

<table
  *ngIf="mode === 'list'"
  cdk-table [dataSource]="items || []"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="moveColumnEvent($event)"
  matSort
  (matSortChange)="sortChange.emit($event)"
  [matSortActive]="sort && sort.active || ''"
  matSortDisableClear
  [matSortDirection]="sort && sort.direction || ''">

  <ng-container cdkColumnDef="favorite">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-icon">
      <mat-icon color=accent>
        star
      </mat-icon>
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-icon">
      <mat-icon color=accent *ngIf="image.favorite">
        star
      </mat-icon>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="id">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-id">
      Id
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-id">
      {{image.id}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="processed">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-icon">
      <mat-icon>check</mat-icon>
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-icon">
      <mat-icon *ngIf="image.processed">check</mat-icon>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="tags">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag class="cell-tags">
      Tags
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-tags">
      <rx-chip-list [nowrap]="true" [compact]="true">
        <rx-chip *ngFor="let tag of image.tags" class="tag">
          {{tag.value}}
        </rx-chip>
      </rx-chip-list>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="names">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag class="cell-names">
      Names
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-names">
      <rx-chip-list [nowrap]="true" [compact]="true">
        <rx-chip *ngFor="let name of image.names" class="name">
          {{name.value}}
        </rx-chip>
      </rx-chip-list>
    </td>
  </ng-container>

  <ng-container cdkColumnDef="artistId">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-artist">
      Artist
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-artist">
      {{image.artistId && (image.artistId | contentValue: 'artist' | async) || '-'}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="rating">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-rating">
      Rating
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-rating">
      {{image.ratingAverage | decimal}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="ratingCount">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-id">
      Rating Count
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-id">
      {{image.ratingCount}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="groupId">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-group">
      Group
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-group"
      #tooltip="matTooltip"
      matTooltip="{{image.groupId | contentValue: 'group' | async}}">
      {{image.groupId || '-'}}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="createdTime">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-created-time">
      Added Time
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-created-time">
      {{image.createdTime | timeAgo }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="processedTime">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-processed-time">
      Processed Time
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-processed-time">
      {{image.processedTime | timeAgo }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="filesize">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-filesize">
      File size
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-filesize">
      {{image.filesize | filesize: 0 }}
    </td>
  </ng-container>

  <ng-container cdkColumnDef="length">
    <th cdk-header-cell *cdkHeaderCellDef cdkDrag mat-sort-header class="cell-length">
      Length
    </th>
    <td cdk-cell *cdkCellDef="let image" class="cell-length">
      {{image.length | videoLength}}
    </td>
  </ng-container>

  <ng-container *ngIf="showHeader">
    <tr cdk-header-row *cdkHeaderRowDef="columns; sticky: true" (contextmenu)="headerContextMenu.open($event)">
    </tr>
  </ng-container>
  <tr cdk-row *cdkRowDef="let row; columns: columns; let i = index;"
      (click)="selectionManager.setSelection(i, $event.shiftKey)"
      [ngClass]="{'rx-active': rowSelected[i], 'image-hidden': items[i].hidden}">
  </tr>
</table>

<rx-context-menu #headerContextMenu>
  <mat-menu>
    <div mat-menu-item disableRipple *ngFor="let column of ALL_COLUMNS">
      <mat-slide-toggle [(ngModel)]="columnVisibility[column]"
                         (change)="recomputeDisplayedColumns()">{{column}}
      </mat-slide-toggle>
    </div>
  </mat-menu>
</rx-context-menu>
