rx-thumbnail {
  cursor: pointer;
}

.cell-rating {
  width: 57px;
}

td.cell-rating {
  padding-right: 18px; // to keep centered with header label (due to arrow)
  text-align: center;
}

.cell-artist {
  width: 100px;
}

.cell-group {
  width: 65px;
}

.cell-created-time {
  width: 100px;
}

.cell-processed-time {
  width: 115px;
}

.cell-length,
.cell-filesize {
  width: 70px;
}
