:host {
  background: inherit;
  font-size: var(--font-size-subheader);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 200;
  display: flex;

  > * {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
    > mat-icon {
      font-size: 50px;
      height: 50px;
      width: 50px;
    }
  }
}

:host.transparent {
  background-color: rgba(0,0,0,0.5);
}

:host:not(.transparent) {
  background: inherit;
}
