<h2 mat-dialog-title>Quick actions</h2>
<mat-dialog-content>

  <table mat-table [dataSource]="data">

    <ng-container matColumnDef="label">
      <th mat-header-cell *matHeaderCellDef class="label-col">
        Key
      </th>
      <td mat-cell *matCellDef="let action" class="label-col">
        {{action.binding | keyBindingLabel}}
      </td>
    </ng-container>

    <ng-container matColumnDef="mode">
      <th mat-header-cell *matHeaderCellDef class="select-col">
        Mode
      </th>
      <td mat-cell *matCellDef="let action" class="select-col">
        <mat-select [(value)]="action.mode">
          <mat-option *ngFor="let mode of action.target.type | quickActionModes" [value]="mode">
            {{mode | titlecase}}
          </mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef class="select-col"> Target </th>
      <td mat-cell *matCellDef="let action" class="select-col">
        <mat-select [(value)]="action.target.type" (selectionChange)="onTypeChanged(action)">
          <mat-option *ngFor="let type of CONTENT_TYPES" [value]="type">
            {{type | titlecase}}
          </mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let action" class="choose-cell">
        <rx-editable>
          <button rxViewMode mat-stroked-button disableRipple>
            {{(action.target.item && action.target.item.value) || ('Choose ' + action.target.type)}}
          </button>

          <rx-content-input #input rxEditMode (rxEditFocus)="input.open()"
            [type]="action.target.type"
            [multiple]="false"
            [allowCreate]="false"
            (selected)="action.target.item = $event.item || null">
          </rx-content-input>
        </rx-editable>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="DISPLAYED_COLUMNS"></tr>
    <tr mat-row *matRowDef="let row; columns: DISPLAYED_COLUMNS;"></tr>
  </table>

</mat-dialog-content>
