table {
  width: 100%;
}

th, td {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.label-col {
  width: 50px;
}

.select-col {
  width: 100px;
}

.choose-cell {
  max-width: 200px;
  min-width: 200px;
}
