<div class="rx-card rx-dialog-card">

  <div class="rx-card-header rx-header-1">
    {{type == 'dupes' ? 'Images marked as duplicates' : 'Possible face matches'}}
  </div>

  <div class="rx-card-content">
    <ng-container *ngIf="!loading">
      <div *ngFor="let image of matches; let i = index" class="image-container"
        [ngClass]="{'select-mode': selectCount > 0}">

        <!-- When selected, show selection border around image -->
        <div *ngIf="rowSelected[i]" class="pseudo-child rx-active-border"></div>

        <!-- When clicked, toggle the selection state of image -->
        <div *ngIf="selectCount > 0" class="pseudo-child" (click)="toggleSelection(i)"
          (contextmenu)="contextMenu.open($event)"></div>

        <!-- Select button appears on select mode or when hovered -->
        <button class="select-button" mat-icon-button disableRipple (click)="toggleSelection(i)">
          <mat-icon>
            {{rowSelected[i] ? 'check_circle' : 'radio_button_unchecked'}}
          </mat-icon>
        </button>

        <rx-image
          [target]="image"
          [showTooltip]="true" [linkImage]="true"
          [ngClass]="{'rx-inactive-fill': image.hidden}">
        </rx-image>

      </div>
    </ng-container>
    <ng-container *ngIf="loading">
      <mat-spinner diameter="50"></mat-spinner>
    </ng-container>

  </div>

  <div class="rx-card-footer">
    <ng-container *ngIf="loading">
      Retrieving matches from server
    </ng-container>
    <ng-container *ngIf="!loading">
      {{message}}
    </ng-container>
  </div>
</div>

<rx-context-menu #contextMenu>
  <mat-menu>
    <button mat-menu-item [matMenuTriggerFor]="markDuplicateMenu">
      Mark duplicate...
    </button>
    <button mat-menu-item (click)="unmarkSelectedAsDuplicates()">
      Unmark duplicates
    </button>
  </mat-menu>

  <mat-menu #markDuplicateMenu="matMenu">
    <button mat-menu-item (click)="markSelectedAsDuplicates('Exact')">
      Mark as exact duplicates (up to compression, small watermark)
    </button>
    <button mat-menu-item (click)="markSelectedAsDuplicates('Most')">
      Mark as mostly duplicates (up to a few features)
    </button>
    <button mat-menu-item (click)="markSelectedAsDuplicates('Partial')">
      Mark as partial duplicates (up to a major feature, crop, resize)
    </button>
    <button mat-menu-item (click)="markSelectedAsDuplicates('None')">
      Mark as not duplicates (visually similar)
    </button>
  </mat-menu>
</rx-context-menu>
