mat-spinner {
  margin: auto;
}

.image-container {
  width: 300px;
  height: 300px;
  margin: 5px;
  position: relative;

  button.select-button {
    display: none;
    position: absolute;
    top: 10px;
    z-index: 10;
  }

  .pseudo-child {
    cursor: pointer;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 5;
  }
}

.image-container:hover, .image-container.select-mode {
  button.select-button {
    display: initial;
  }
}
