<mat-menu #viewModeMenu="matMenu">
  <mat-radio-group [(ngModel)]="configService.viewMode">
    <div mat-menu-item disableRipple>
      <mat-radio-button value="split">
        Split
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button value="image">
        Image only
      </mat-radio-button>
    </div>
    <div mat-menu-item disableRipple>
      <mat-radio-button value="selector">
        Browser only
      </mat-radio-button>
    </div>
  </mat-radio-group>
</mat-menu>

<mat-menu #optionsMenu="matMenu">
  <div mat-menu-item disableRipple *ngFor="let action of menuActions">
    <rx-action-menu-button [action]="action">
    </rx-action-menu-button>
  </div>
  <div mat-menu-item disableRipple [matMenuTriggerFor]="viewModeMenu">
    Library browser mode
  </div>
  <div mat-menu-item disableRipple>
    <mat-slide-toggle [(ngModel)]="configService.saveAfterChange">
      Autosave changes
    </mat-slide-toggle>
  </div>
  <div mat-menu-item disableRipple>
    <mat-slide-toggle [(ngModel)]="configService.disableImageInfoOverlay">
      Disable image info overlay
    </mat-slide-toggle>
  </div>
  <div mat-menu-item disableRipple>
    <mat-slide-toggle [(ngModel)]="configService.mobileMode">
      Mobile mode
    </mat-slide-toggle>
  </div>
  <div mat-menu-item disableRipple>
    <mat-slide-toggle [(ngModel)]="configService.searchPrefixOnly">
      Search matches by prefix only
    </mat-slide-toggle>
  </div>
</mat-menu>

<!-- Toolbar -->
<mat-toolbar role="heading" class="rx-header">
  <button mat-icon-button disableRipple (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <a class="app-title" [routerLink]="HOME_PAGE.link" [queryParams]="HOME_PAGE.params">
    Rosy
  </a>

  <span class="rx-spacer"></span>

  <ng-container *ngIf="loggedIn">
    <rx-loading-badge class="header-icon-container"></rx-loading-badge>

    <rx-show-image-features-button class="header-icon-container"></rx-show-image-features-button>

    <rx-view-mode-selector [showSplit]="true"></rx-view-mode-selector>

    <a mat-icon-button [routerLink]="INBOX_PAGE.link" [queryParams]="INBOX_PAGE.params">
      <mat-icon>{{INBOX_PAGE.icon}}</mat-icon>
    </a>

    <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
      <mat-icon>settings</mat-icon>
    </button>

    <button [rxActionable]="ActionLogOut"
            disableRipple
            mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>

  </ng-container>

  <ng-container *ngIf="!loggedIn">
    <button [rxActionable]="ActionLogIn" disableRipple mat-icon-button>
      <mat-icon>login</mat-icon>
    </button>
  </ng-container>

</mat-toolbar>

<mat-drawer-container class="rx-contents-main">
  <mat-drawer #sidenav mode="over">
    <rx-sidenav></rx-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
