a.app-title {
  all: unset;
  color: #7F5250;
  cursor: pointer;
  font-size: 30px;
  margin-left: 10px;
}

.header-icon-container {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Prevent text-cursor on icon
.header-loading-container > * {
  cursor: default;
}

mat-toolbar {
  background: var(--primary);
  color: white;
}
