mat-dialog-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  mat-slide-toggle {
    height: 36px;
  }
}

mat-form-field {
  margin-bottom: -20px;
}

h3 {
  margin: 0;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
