<h2 mat-dialog-title>Feature Training Dataset Parameters</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label for="input">
      Dataset name
    </mat-label>
    <input id="input" matInput
      #input
      [(ngModel)]="data.datasetName"
      placeholder="dataset name">
  </mat-form-field>
  <div>
    <mat-slide-toggle [(ngModel)]="data.useExistingImages">
      Use Existing Images
    </mat-slide-toggle>
  </div>
  <div>
    <mat-slide-toggle [(ngModel)]="data.generateNullData">
      Generate Null Examples
    </mat-slide-toggle>
  </div>
  <mat-divider></mat-divider>

  <div class="rx-header-2">Filters</div>

  <mat-slide-toggle [(ngModel)]="data.includeHidden">
    Include Hidden
  </mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="data.includeUnprocessed">
    Include Unprocessed
  </mat-slide-toggle>

  <div>
    <div class="row">
      <h3>Features</h3>
      <rx-editable>
        <button rxViewMode mat-icon-button disableRipple class="rx-small-icon-button feature">
          <mat-icon>add</mat-icon>
        </button>
        <rx-content-input #featureInput rxEditMode (rxEditFocus)="featureInput.open()"
          type="feature"
          placeholder="Only use features"
          [multiple]="false"
          [allowCreate]="false"
          (selected)="data.features.push($event.item.id)">
        </rx-content-input>
      </rx-editable>
    </div>
    <rx-chip-list>
      <rx-chip *ngFor="let id of data.features; let i = index"
        class="feature"
        [removable]="true"
        (removed)="data.features.splice(i, 1)">
        {{id | contentValue: 'feature' | async}}
      </rx-chip>
    </rx-chip-list>
  </div>

  <div>
    <div class="row">
      <h3>Features Marked as Null</h3>
      <rx-editable>
        <button rxViewMode mat-icon-button disableRipple class="rx-small-icon-button feature">
          <mat-icon>add</mat-icon>
        </button>
        <rx-content-input #nullFeatureInput rxEditMode (rxEditFocus)="nullFeatureInput.open()"
          type="feature"
          placeholder="Features marked as null"
          [multiple]="false"
          [allowCreate]="false"
          (selected)="data.nullFeatures.push($event.item.id)">
        </rx-content-input>
      </rx-editable>
    </div>
    <rx-chip-list>
      <rx-chip *ngFor="let id of data.nullFeatures; let i = index"
        class="not-feature"
        [removable]="true"
        (removed)="data.nullFeatures.splice(i, 1)">
        {{id | contentValue: 'feature' | async}}
      </rx-chip>
    </rx-chip-list>
  </div>

  <div>
    <div class="row">
      <h3>Included Tags</h3>
      <rx-editable>
        <button rxViewMode mat-icon-button disableRipple class="rx-small-icon-button tag">
          <mat-icon>add</mat-icon>
        </button>
        <rx-content-input #tagInput rxEditMode (rxEditFocus)="tagInput.open()"
          type="tag"
          placeholder="Filter by tag"
          [multiple]="false"
          [allowCreate]="false"
          (selected)="data.includeTags.push($event.item.id)">
        </rx-content-input>
      </rx-editable>
    </div>
    <rx-chip-list>
      <rx-chip *ngFor="let id of data.includeTags; let i = index"
        class="tag"
        [removable]="true"
        (removed)="data.includeTags!.splice(i, 1)">
        {{id | contentValue: 'tag' | async}}
      </rx-chip>
    </rx-chip-list>
  </div>

  <div>
    <div class="row">
      <h3>Excluded Tags</h3>
      <rx-editable>
        <button rxViewMode mat-icon-button disableRipple class="rx-small-icon-button tag">
          <mat-icon>add</mat-icon>
        </button>
        <rx-content-input #extagInput rxEditMode (rxEditFocus)="extagInput.open()"
          type="tag"
          placeholder="Filter by tag"
          [multiple]="false"
          [allowCreate]="false"
          (selected)="data.excludeTags.push($event.item.id)">
        </rx-content-input>
      </rx-editable>
    </div>
    <rx-chip-list>
      <rx-chip *ngFor="let id of data.excludeTags; let i = index"
        class="not-tag"
        [removable]="true"
        (removed)="data.excludeTags!.splice(i, 1)">
        {{id | contentValue: 'tag' | async}}
      </rx-chip>
    </rx-chip-list>
  </div>

  <mat-divider></mat-divider>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close(null)">
    Cancel
  </button>
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial (click)="dialogRef.close(data)">
    Ok
  </button>
</mat-dialog-actions>
