<h2 mat-dialog-title>Dataset Parameters</h2>
<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label for="input">
      Dataset name
    </mat-label>
    <input id="input" matInput
      #input
      [(ngModel)]="data.datasetName"
      placeholder="dataset name">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Train size</mat-label>
    <mat-select [(value)]="data.trainSize">
      <mat-option *ngFor="let trainSize of trainSizes" [value]="trainSize">
        {{trainSize}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <mat-slide-toggle [(ngModel)]="data.useExistingImages">
      Use Existing Images
    </mat-slide-toggle>
  </div>

  <mat-divider></mat-divider>

  <div class="rx-header-2">Filters</div>

  <mat-slide-toggle [(ngModel)]="data.includeHidden">
    Include Hidden
  </mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="data.includeUnprocessed">
    Include Unprocessed
  </mat-slide-toggle>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close(null)">
    Cancel
  </button>
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial (click)="dialogRef.close(data)">
    Ok
  </button>
</mat-dialog-actions>
