:host {
  align-items: center;
  border-radius: 16px;
  color: var(--foreground-light) !important;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  height: 18px;
  padding-bottom: 7px;
  padding-top: 7px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 3px;
  > mat-icon {
    height: 18px;
    width: 18px;
    cursor: pointer !important;
    color: var(--foreground-light) !important;
    fill: currentColor;
    font-size: 18px;
    margin-left: 8px;
    margin-right: 0;
    opacity: 0.4;
  }
}
