:host {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -3px;
  margin-top: -3px;
}

.compact > rx-chip {
  margin-right: 1px;
  margin-left: 1px;
  padding-bottom: 3px;
  padding-top: 4px;
  padding-left: 9px;
  padding-right: 9px;
}

.nowrap {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
