:host {
  display: flex;
  justify-content: center;
  max-height: 100%;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

li > * {
  flex-grow: 0;
  flex-shrink: 0;
}

.job-name-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100px;
}

.job-icon {
  display: flex;
  width: 30px;
  height: 30px;
}

.job-icon > * {
  margin: auto;
}

li > mat-progress-bar {
  flex-grow: 1;
  flex-shrink: 1;
}
