<div class="rx-card">

  <div class="rx-card-header rx-header-1">
    File uploader
  </div>

  <div class="rx-card-content">
    <div *ngIf="uploadJobs.length === 0">
      Select files to upload
    </div>
    <ul>
      <li *ngFor="let job of uploadJobs">
        <div class="job-name-label">
          {{job.file.name}}
        </div>
        <mat-progress-bar
          mode="determinate"
          [value]="job.progress * 100">
        </mat-progress-bar>
        <div class="job-icon">
          <mat-icon *ngIf="job.state === 'pending'">pause</mat-icon>
          <mat-spinner *ngIf="job.state === 'current'" diameter="16"></mat-spinner>
          <mat-icon *ngIf="job.state === 'success'" color="accent">done</mat-icon>
          <mat-icon *ngIf="job.state === 'failure'" color="warn" [matTooltip]="job.message">
            error
          </mat-icon>
        </div>
      </li>
    </ul>
  </div>

  <div class="rx-card-footer rx-card-footer-actions">
    <button mat-raised-button color="primary" (click)="fileUpload.click()">
      <mat-icon>file_upload</mat-icon>
      Upload
    </button>
  </div>

</div>

<input #fileUpload
  (change)="onUploadChange(fileUpload)"
  type="file" id="fileUpload" name="fileUpload"
  multiple="multiple" style="display: none;">
