<h2 mat-dialog-title>Train Dataset Parameters</h2>
<mat-dialog-content>
  <input
    #input
    [(ngModel)]="data.datasetName"
    class="rx-input mat-body-1"
    placeholder="dataset name">
  <mat-slide-toggle [(ngModel)]="data.useExistingImages">
    Use Existing Images
  </mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="data.includeHidden">
    Include Hidden
  </mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="data.includeUnprocessed">
    Include Unprocessed
  </mat-slide-toggle>
  <mat-form-field appearance="outline">
    <mat-label>Train size</mat-label>
    <mat-select [(value)]="data.trainSize">
      <mat-option *ngFor="let trainSize of trainSizes" [value]="trainSize">
        {{trainSize}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="dialogRef.close(null)">
    Cancel
  </button>
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial (click)="dialogRef.close(data)">
    Ok
  </button>
</mat-dialog-actions>
