<h2 mat-dialog-title>Hotkeys</h2>
<mat-dialog-content>
  <section class="header">
    <h3></h3>
    <div>
      <div class="entry-row header-row">
        <div class="name">Action name</div>
        <div class="key">Key</div>
        <div class="in-text">In text?</div>
      </div>
    </div>
  </section>
  <section class="content" *ngFor="let category of categories; let i = index">
    <h3>{{category}}</h3>
    <div>
      <div class="entry-row"
           *ngFor="let entry of sortedActions[i]; let j = index"
           [ngClass]="{'action-disabled': !entry.enabled$.value}">
        <div class="name">{{entry.data.description}}</div>
        <rx-key-selector class="key"
                        [action]="entry.action"
                        [value]="entry.binding">
        </rx-key-selector>
        <div class="in-text">
          <mat-slide-toggle [(ngModel)]="entry.binding && entry.binding.enableDuringInput"
                            [disabled]="entry.binding === null"
                            matTooltip="Allows hotkey activation while inputing text">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button (click)="resetAllToDefault()">
    Reset all to default
  </button>
  <button mat-raised-button [mat-dialog-close] cdkFocusInitial>
    Ok
  </button>
</mat-dialog-actions>
