@mixin category-section-mixin {
  width: 100%;
  display: flex;

  h3 {
    flex: none;
    width: 120px;
    font-style: bold;
  }

  div {
    flex-grow: 1;

    .entry-row {
      display: flex;
      align-items: center;

      .name {
        flex: 1 1;
        width: 100px;
        padding: 5px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .key {
        flex: none;
        width: 160px;
      }

      .in-text {
        flex: none;
        width: 50px;

        * {
          float: right;
        }
      }
    }
  }
}

section.header {
  @include category-section-mixin;

  div .entry-row {
    color: var(--foreground-light-secondary);
    font-weight: 500;
  }

}

section.content {
  @include category-section-mixin;

  border-bottom: 1px solid;
  border-bottom-color: var(--border-foreground);

  h3 {
    height: 50px;
    line-height: 50px;
  }

  div {
    .entry-row {
      height: 50px;
    }
  }
}

.action-disabled > * {
  color: var(--foreground-disabled);
}
