:host {
  height: 100%;
  width: 100%;
  position: relative;
}

:host.thumbnail {
  height: inherit;
  width: inherit;
}

img, video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

a:focus {
  outline: none;
}

:host:not(:fullscreen) > .fullscreen-button {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

:host.thumbnail > .fullscreen-button,
:host:fullscreen > .fullscreen-button {
  display: none;
}
