<ng-content></ng-content>

<ng-container *ngIf="!linkImage; then display; else linkedDisplay"></ng-container>

<ng-template #display>
  <img #image [ngClass]="{'rx-hidden': showVideo}" [src]="contentUrl | async"
       (load)="onImageLoad($event.target)"
       [matTooltipDisabled]="!showTooltip"
       matTooltip="{{target | imageTooltip}}">

  <video [ngClass]="{'rx-hidden': !showVideo}" #video controls loop defaultMuted
         [matTooltipDisabled]="!showTooltip"
         matTooltip="{{target | imageTooltip}}">
    <ng-container *ngIf="showVideo && !loading">
      <source [attr.src]="contentUrl | async">
    </ng-container>
  </video>

</ng-template>

<ng-template #linkedDisplay>

  <a [routerLink]="targetPageUrl" routerLinkActive="active">
    <ng-container *ngTemplateOutlet="display"></ng-container>
  </a>

</ng-template>

<button class="fullscreen-button" *ngIf="allowFullscreen" mat-icon-button (click)="requestFullscreen()">
  <mat-icon>fullscreen</mat-icon>
</button>

