// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;


$rosy-typography: mat.define-typography-config(
  $font-family: '"Inter", sans-serif'
);


$rosy-theme: mat.define-dark-theme((
  color: (
    primary: mat.define-palette(mat.$blue-grey-palette, 300),
    accent: mat.define-palette(mat.$deep-orange-palette, 300),
    warn: mat.define-palette(mat.$red-palette, 400),
  )
));


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($rosy-typography);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rosy-theme);

// ALL CONSTANTS FOR APPLICATION
:root {
  --select-color: #4d5965;
  --primary: #90A4AE;
  --accent: #ff8a65; // $rosy-theme[color][accent][text]
  --warn: #ef5350; // $rosy-theme[color][warn][text]
  --background: #303030; // $rosy-theme[background][background];
  --background-secondary: #424242; // map_get(map_get($rosy-theme, background), card);
  --foreground-dark-secondary: #424242; // var(--background-secondary);
  --foreground-light: white; // map_get(map_get($theme, foreground), text);
  --foreground-light-secondary: rgba(255, 255, 255, 0.7); // $theme[foreground][secondary-text];
  --foreground-disabled: rgba(255, 255, 255, 0.5); // $theme[foreground][disabled];
  --border-foreground: rgba(255, 255, 255, 0.12); // $rosy-theme[foreground][divider];
  --name-color: #A16A4A;
  --tag-color: #334966;
  --subheader-height: 48px;
  --font-size-header: 24px;
  --font-size-subheader: 20px;
}

// General classes
.rx-hidden {
  display: none !important;
}

.rx-active {
  background: map_get(map_get($rosy-theme, primary), darker) !important;
}

.rx-active-border {
  border-color: var(--primary) !important;
  border: 4px solid;
}

.rx-inactive-fill {
  opacity: 0.4;
}

////////////////////////////////////////////////////////////////////////////////
// Application body (everything but the header)
////////////////////////////////////////////////////////////////////////////////
$header-height: 60px;
.rx-contents-main {
  width: 100vp;
  height: calc(100vh - #{$header-height});
  height: -o-calc(100vh - #{$header-height}); /* opera */
  height: -webkit-calc(100vh - #{$header-height}); /* google, safari */
  height: -moz-calc(100vh - #{$header-height});
  overflow: hidden;

  mat-drawer-content {
    overflow: hidden;
  }
}

.rx-header {
  box-shadow: 0 10px 10px -10px rgba(0,0,0,0.3);
  height: $header-height;
  position: sticky;
  z-index: 4;

  mat-icon {
    font-size: 28px;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Input style
////////////////////////////////////////////////////////////////////////////////
input.rx-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: transparent;
  border-color: var(--foreground-light-secondary);
  border-radius: 6px;
  border-style: solid;
  color: var(--foreground-light);
  outline: none;

  height: 34px;
  border-width: 1px;
  margin: 1px;
  margin-right: auto;
  padding: 1px;
  padding-left: 5px;
}

input.rx-input:focus {
  border-color: var(--primary);
  border-width: 2px;
  margin: 0px;
  margin-right: auto;
}

input:invalid {
  border-color: var(--warn);
  color: var(--warn);
}

////////////////////////////////////////////////////////////////////////////////
// Misc tweaks
////////////////////////////////////////////////////////////////////////////////
div.mat-expansion-panel-body {
  padding-bottom: 4px;
}

div.mat-menu-item > mat-slide-toggle, mat-radio-button {
  width: 100%;
}

/// Make tab-group bodies expand by default
.mat-tab-body-wrapper {
  flex-grow: 1;
}

////////////////////////////////////////////////////////////////////////////////
// Chip Stylings
////////////////////////////////////////////////////////////////////////////////
$disabled-color: #616161;
$tag-color: var(--tag-color);
$tag-color-dark: rgba(43, 73, 112, 1);
$tag-invert-color: #4E5E73;
$name-color: var(--name-color);
$name-color-dark: rgba(170, 99, 57, 1);
$name-invert-color: #B28266;
$artist-color: #A18F4A;
$artist-color-dark: rgba(170, 146, 57, 1);
$group-color: #824B5E;
$group-color-dark: rgba(140, 64, 90, 1);
$grouped-color: $group-color;
$flag-color: #5F8899;
$flag-color-dark: rgba(82, 139, 163, 1);
$processed-color: $flag-color;
$favorite-color: $flag-color;;
$hidden-color: $flag-color;
$marked-color: var(--warn-color);
$is-video-color: $flag-color;
$range-color: #477343;
$range-color-dark: rgba(63, 125, 57, 1);
$created-time-color: $range-color;
$processed-time-color: $range-color;
$rating-color: $range-color;
$feature-color-dark: #138708;
$feature-invert-color: #70D166;
$feature-color: #3FB733;

rx-chip.disabled {
  background-color: $disabled-color;
}

rx-chip.feature {
  background-color: $feature-color;
}

rx-chip.tag {
  background-color: $tag-color;
}

rx-chip.name {
  background-color: $name-color;
}

rx-chip.not-feature {
  background-color: $feature-invert-color;
}

rx-chip.not-tag {
  background-color: $tag-invert-color;
}

rx-chip.not-name {
  background-color: $name-invert-color;
}

rx-chip.artist {
  background-color: $artist-color;
}

rx-chip.group {
  background-color: $group-color;
}

rx-chip.grouped {
  background-color: $grouped-color;
}

rx-chip.show-hidden {
  background-color: $hidden-color;
}

rx-chip.is-video {
  background-color: $is-video-color;
}

rx-chip.processed {
  background-color: $processed-color;
}

rx-chip.favorite {
  background-color: $favorite-color;
}

rx-chip.marked {
  background-color: $marked-color;
}

rx-chip.created-time {
  background-color: $created-time-color;
}

rx-chip.processed-time {
  background-color: $processed-time-color;
}

rx-chip.rating {
  background-color: $rating-color;
}


////////////////////////////////////////////////////////////////////////////////
// Sub headers (table headers, sub-page headers, etc)
////////////////////////////////////////////////////////////////////////////////
.cdk-table-sticky {
  box-shadow: 0 7px 7px -7px rgba(0,0,0,.3);
}

tr.cdk-header-row,
.rx-subheader {
  background: var(--background-secondary);
  height: var(--subheader-height);
  padding-left: 16px;
  padding-right: 16px;
}

////////////////////////////////////////////////////////////////////////////////
// Custom mat button sizes
////////////////////////////////////////////////////////////////////////////////
.mat-icon-button.rx-small-icon-button {
  width: 30px;
  height: 30px;
  line-height: 30px;
  > span {
    line-height: initial;
    > mat-icon {
      padding: 3px;
      padding-top: 2px;
      padding-bottom: 4px;
    }
  }
}

mat-button-toggle-group {
  border: 1px solid white !important;
}

.mat-button-toggle {
  background: none;
}

.mat-button-toggle-checked {
  background: var(--select-color);
}

////////////////////////////////////////////////////////////////////////////////
// Typed Button Stylings
////////////////////////////////////////////////////////////////////////////////
button.artist:not(.mat-icon-button),
button.feature:not(.mat-icon-button),
button.group:not(.mat-icon-button),
button.name:not(.mat-icon-button),
button.tag:not(.mat-icon-button) {
  border-radius: 10px;
  color: var(--foreground-light) !important;
  margin-left: 3px;
  margin-right: 3px;
}

button.artist {
  background: $artist-color-dark;
}

button.feature {
  background: $feature-color-dark;
}

button.group {
  background: $group-color-dark;
}

button.name {
  background: $name-color-dark;
}

button.tag {
  background: $tag-color-dark;
}

////////////////////////////////////////////////////////////////////////////////
// CUSTOM HEADERS
////////////////////////////////////////////////////////////////////////////////

.rx-header-1 {
  font-size: var(--font-size-header);
  font-weight: 500;
}

.rx-header-2 {
  font-size: var(--font-size-subheader);
  font-weight: 400;
}

////////////////////////////////////////////////////////////////////////////////
// CUSTOM CARDS
////////////////////////////////////////////////////////////////////////////////
.rx-card {
  align-items: center;
  background: var(--background-secondary);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin: 2.5px;
  min-width: 300px;
  overflow: hidden;
  padding: 16px;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;

  > * {
    width: 100%;
  }

  .rx-card-header,
  .rx-card-footer,
  .rx-card-footer-actions {
    align-items: center;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .rx-card-header {
    min-height: 40px;
    > button,
    > .mat-mini-fab {
      margin-left: 2.5px;
      margin-right: 2.5px;
    }
  }

  .rx-card-footer-actions {
    justify-content: center;
    > * {
      margin-left: 3px;
      margin-right: 3px;
    }
  }

  .rx-card-footer.rx-paginator {
    box-shadow: 0 -10px 10px -10px rgba(0,0,0,0.3);
    height: var(--subheader-height);
    padding-top: 0;
    padding-bottom: 0;
    z-index: 3;
    > mat-paginator {
      background: inherit;
      margin-left: auto;
    }
  }

  .rx-card-content {
    background: var(--background);
    box-shadow: inset 0 0 7px rgba(0,0,0,0.3);
    font-size: 14px;
    height: 100%;
    overflow-x: auto;
    overflow-y: auto;
    padding: 5px;
  }

}

.rx-card.rx-dialog-card {
  .rx-card-content {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    max-height: 65vh;
    min-height: 70px; // if too small, mat-spinner creates transient scroll bar due to rotation.
  }

  .rx-card-header {
    display: block;
    padding-bottom: 18px;
    padding-top: 0;
    min-height: 0;
    text-align: center;
  }

  .rx-card-footer {
    display: block;
    font-size: 16px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 12px;
  }

}

.rx-card.rx-title-card {
  flex-shrink: 0;
  .rx-card-header {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;
    margin: auto;
  }
}

.rx-card.rx-results-card {
  flex-grow: 1;
  margin-bottom: 0;
  padding: 0;
  > .rx-card-content {
    flex-grow: 1;
    padding: 0;
    box-shadow: none;
  }
}

////////////////////////////////////////////////////////////////////////////////
// Notification bar stuff
////////////////////////////////////////////////////////////////////////////////

.mat-simple-snackbar {
  font-size: inherit;
}

.rx-notification-error {
  background-color: var(--background);
  background: var(--warn);
  font-size: 20px !important;
}

.rx-notification-info {
  background-color: var(--background);
  background: var(--accent);
  font-size: 20px !important;
}

////////////////////////////////////////////////////////////////////////////////
// MISC
////////////////////////////////////////////////////////////////////////////////
.rx-spacer {
  flex-grow: 1;
}

////////////////////////////////////////////////////////////////////////////////
// Dialog stuff
////////////////////////////////////////////////////////////////////////////////
mat-dialog-container h2 {
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
