:host {
  display: flex;
  align-items: center;
  padding: 10px;
}

:host > button {
  flex-grow: 0;
  flex-shrink: 0;
}

:host > mat-progress-bar {
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 10px;
  margin-right: 10px;
}

:host > div {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}

:host > div > * {
  margin: auto;
}
