<button [rxActionable]="worker.action"
        #actionable=actionable
        mat-raised-button
        disableRipple
        [disabled]="actionable.disabled">
  {{actionable.description}}
</button>

<ng-container *ngIf="worker.started">
  <mat-progress-bar
    *ngIf="worker.state === 'active'"
    [mode]="worker.incrementalUpdates && 'determinate' || 'indeterminate'"
    [value]="worker.progress">
  </mat-progress-bar>
  <div>
    <mat-spinner *ngIf="worker.state === 'active'" diameter="30"></mat-spinner>
    <mat-icon *ngIf="worker.state === 'success'" color="accent">done</mat-icon>
    <mat-icon *ngIf="worker.state === 'failure'" color="warn">
      error
    </mat-icon>
  </div>
</ng-container>
