.capture-overlay {
  background-color: rgba(0,0,0,0.7);
  cursor: default;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 200;
}

.capture-overlay > div {
  font-size: 20px;
  font-weight: 500px;
  margin: auto;
}
