<div *ngIf="captureMode" class="capture-overlay">
  <div>Type new hotkey sequence</div>
</div>

<button mat-raised-button disableRipple (click)="startCaptureMode($event)">
  {{value | keyBindingLabel}}
</button>
