<mat-nav-list>
  <ng-container *ngFor="let pages of _routes">

    <a *ngFor="let page of pages"
        mat-list-item
        [routerLink]="page.link"
        [queryParams]="page.params"
        routerLinkActive="rx-active"
        disableRipple>
      <mat-icon>{{page.icon}}</mat-icon>
      <div mat-line>{{page.label}}</div>
    </a>

    <mat-divider></mat-divider>

  </ng-container>
</mat-nav-list>
