:host {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 40px; // to prevent resizing when input is selected
}

input.rx-input {
  margin: auto;
}

.autocomplete-option-create-new {
  font-weight: 500;
}
