<mat-autocomplete
  #inputAutocomplete="matAutocomplete"
  autoActiveFirstOption
  disableRipple
  (optionSelected)="onSelect($event.option.value)">
  <mat-option *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
  </mat-option>
  <mat-option *ngFor="let item of options" [value]="item" (click)="$event.stopPropagation()">
    {{item.value}}
  </mat-option>
  <ng-container *ngIf="allowCreate">
    <mat-option class="autocomplete-option-create-new"
                [disabled]="!input.value"
                [value]="{value: input.value}"
                (click)="$event.stopPropagation()">
      Create new {{type}} {{input.value && '"' + input.value +'"'}}
    </mat-option>
  </ng-container>
  <ng-container *ngIf="!allowCreate">
    <mat-option *ngIf="options.length === 0" (click)="$event.stopPropagation()">
      No matching {{type}}s
    </mat-option>
  </ng-container>
</mat-autocomplete>

<input
  #input
  class="rx-input mat-body-1"
  placeholder="{{placeholder}}"
  [formControl]="inputFormCtrl"
  [matAutocomplete]="inputAutocomplete"
  (keydown)="onInputKeydown($event)">
