:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h1 {
  padding: 16px;
  margin: 0;
  height: 32px;
}

.basic-admin-page {
  padding: 16px;
}

mat-tab-group {
  height: calc(100% - 64px);
  width: 100%;
}
