<h1>Admin Panel</h1>
<mat-tab-group disableRipple color="accent">
  <mat-tab label="Basic actions">
    <div class="basic-admin-page">
      <rx-worker-status [worker]="actionWorker" *ngFor="let actionWorker of actionWorkers">
      </rx-worker-status>
      <mat-divider></mat-divider>
      <rx-worker-status [worker]="actionWorker" *ngFor="let actionWorker of generateWorkers">
      </rx-worker-status>
    </div>
  </mat-tab>
  <mat-tab label="Permadelete">
    <rx-delete-page>
    </rx-delete-page>
  </mat-tab>
</mat-tab-group>
