.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: inherit;
}

.labels,
.positives,
.negatives {
  display: flex;
}

.positives,
.negatives {
  flex-basis: 0;
  flex-grow: 1;
}

.labels {
  flex-grow: 0;
}

.positives {
  align-items: flex-end;
  > div {
    background: var(--primary);
  }
}

.negatives {
  align-items: flex-start;
  > div {
    background: var(--accent);
  }
}

/**
 * Every column should be evenly spaced with some separation between.
 */
.graph-column,
rx-graph-label {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  margin-left: 5px;
  margin-right: 5px;
  min-width: 10px;
}

rx-graph-label {
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

rx-graph-label.graph-label-chip {
  border-radius: 10px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 6px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.hidden {
  background: inherit !important;
}
