<div class="wrapper">
  <div class="positives">
    <ng-container *ngFor="let h of heights; let i = index">
      <div class="graph-column" [ngClass]="{'hidden': !signs[i]}" [style.height.%]="h"
        [matTooltip]="values[i].toString()">
      </div>
    </ng-container>
  </div>

  <div class="negatives" *ngIf="allowNegative">
    <ng-container *ngFor="let h of heights; let i = index">
      <div class="graph-column" [ngClass]="{'hidden': signs[i]}" [style.height.%]="h"
        [matTooltip]="values[i].toString()">
      </div>
    </ng-container>
  </div>

  <div class="labels">
    <ng-content></ng-content>
  </div>
</div>